Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

Add config
  integration-libs/opf/base/root/config/opf-config.ts
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
Owners: @SAP/spartacus-global-owners

changes
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
Owners: @SAP/spartacus-global-owners

update using get method for ids
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

Update karma.conf.js
  feature-libs/user/karma.conf.js
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-926) - Removed repeated searchbox assistive message (#19619)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

create tests for external links
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

remove focus
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

update using new function getLabel
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix: Proper keyboard navigation pattern for carousel
  projects/storefrontlib/shared/components/carousel/carousel.component.spec.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

fix: Proper keyboard navigation pattern for carousel
  projects/storefrontlib/shared/components/carousel/carousel.component.spec.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

Styles to differentiate between selected and focused item
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.ts
  feature-libs/product-configurator/rulebased/styles/mixins/_configurator-attribute-selection-image.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/product/product-images/product-images.component.ts
  projects/storefrontstyles/scss/components/product/details/_product-images.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

added comment
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: display form for full page pattern
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
Owners: @SAP/spartacus-global-owners

improve conditions
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
Owners: @SAP/spartacus-global-owners

fix: Different approach
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.spec.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

remove unnecessary function ariaLabeledBy
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXPA-7943) Store, My Preferred Store, Opening hours button.
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.html
  feature-libs/pickup-in-store/components/presentational/store/store.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8015) improve tab focus visibility (show all four sides of focused ring)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: fix prettier issue.
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-global-owners

fix: Different approach
  projects/storefrontlib/shared/components/carousel/carousel.component.spec.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8989) CustomerService CloseRequestDialog add required asterisk
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close-dialog/customer-ticketing-close-dialog.component.html
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close.module.ts
Owners: @SAP/spartacus-global-owners

running spa 2211.32 against cx 2211.30
  .env-cmdrc
  ci-scripts/e2e-cypress.sh
  projects/storefrontapp-e2e-cypress/cypress.config.ci.ts
  projects/storefrontapp-e2e-cypress/cypress.config.ts
Owners: @SAP/spartacus-global-owners

running spa 2211.32 against cx 2211.28
  .env-cmdrc
  ci-scripts/e2e-cypress.sh
  projects/storefrontapp-e2e-cypress/cypress.config.ci.ts
  projects/storefrontapp-e2e-cypress/cypress.config.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-7937) - Styles to differentiate between selected and focused item (#19634)
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.ts
  feature-libs/product-configurator/rulebased/styles/mixins/_configurator-attribute-selection-image.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/product/product-images/product-images.component.ts
  projects/storefrontstyles/scss/components/product/details/_product-images.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

changes
  integration-libs/opf/checkout/styles/components/_opf-checkout-payments.scss
  integration-libs/opf/checkout/styles/components/_opf-checkout-terms-and-conditions-alert.scss
Owners: @SAP/spartacus-global-owners

fix: (CXPA-7943) Store, My Preferred Store, Opening hours button.
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.html
  feature-libs/pickup-in-store/components/presentational/store/store.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8015) improve tab focus visibility (show all four sides of focused ring)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: fix prettier issue.
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-global-owners

Add payment details component
  integration-libs/opf/_index.scss
  integration-libs/opf/payment/root/components/opf-payment-method-details/index.ts
  integration-libs/opf/payment/root/components/opf-payment-method-details/opf-payment-method-details.component.html
  integration-libs/opf/payment/root/components/opf-payment-method-details/opf-payment-method-details.component.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-method-details/opf-payment-method-details.component.ts
  integration-libs/opf/payment/root/components/opf-payment-method-details/opf-payment-method-details.module.ts
  integration-libs/opf/payment/root/model/augmented-core.model.ts
  integration-libs/opf/payment/root/model/index.ts
  integration-libs/opf/payment/root/model/opf-payment.model.ts
  integration-libs/opf/payment/root/opf-payment-root.module.ts
  integration-libs/opf/payment/styles/_index.scss
  integration-libs/opf/payment/styles/components/_index.scss
  integration-libs/opf/payment/styles/components/_opf-payment-method-details.scss
Owners: @SAP/spartacus-global-owners

changes
  integration-libs/opf/checkout/styles/components/_opf-checkout-terms-and-conditions-alert.scss
Owners: @SAP/spartacus-global-owners

Fix circular dependency
  integration-libs/opf/payment/root/components/opf-payment-method-details/opf-payment-method-details.component.spec.ts
  integration-libs/opf/payment/root/model/augmented-core.model.ts
Owners: @SAP/spartacus-global-owners

set feature toggle sciEnabled to default false
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

fix: Do not call deleteUserAddress for unlogged users
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.spec.ts
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.ts
Owners: @SAP/spartacus-global-owners

fix: Proper keyboard navigation pattern for carousel (#19631)
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

fix content reads 2 times at once
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

Unit level order history truncated sorting options
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: unlock restriction on attribute key
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  projects/core/src/util/script-loader.service.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

changes
  integration-libs/opf/base/root/config/default-opf-config.ts
  integration-libs/opf/base/root/config/opf-config.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
Owners: @SAP/spartacus-global-owners

add missing labels for comboboxes in Order Summary
  feature-libs/checkout/scheduled-replenishment/assets/translations/en/checkoutScheduledReplenishment.json
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

add unit test
  projects/core/src/util/script-loader.service.spec.ts
Owners: @SAP/spartacus-core-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
