Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

resolve issue for padding
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

CXSPA-9098, add e-2-e test cases
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9098, fix the issue Coupon Codes is used in Coupon Campaign URL for SPA UI
  projects/assets/src/translations/en/myAccount.json
  projects/core/src/occ/adapters/user/default-occ-user-config.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/default-coupon-card-layout.config.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/index.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
  projects/storefrontlib/layout/launch-dialog/config/launch-config.ts
  projects/storefrontstyles/scss/components/myaccount/_index.scss
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

chore: add additional test cases to reset password component service
  feature-libs/user/karma.conf.js
  feature-libs/user/profile/components/reset-password/reset-password-component.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix failed unit test
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
Owners: @SAP/spartacus-core-owners

add secure password toggle description
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

Update spartacus-features.module.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

fix failed unit test cases
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
Owners: @SAP/spartacus-core-owners

added feature flags
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: disable tabbing for quick order search results list
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CXSPA-9092: Incorporate review feedback
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

add style for active and focused states in SearchBoxComponent
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

resolve the issues
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

update using keyboard-focus module
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
  projects/storefrontlib/cms-components/navigation/search-box/search-box.module.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

update style of storefront
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/components/layout/_storefront.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

resolve the issues for mobile
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

resolve lint error
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

resolve issue for padding
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

fix: disable tabbing for quick order search results list
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

remove feature flag for audit in _storefront.scss
  projects/storefrontstyles/scss/components/layout/_storefront.scss
Owners: @SAP/spartacus-global-owners

Update express OSS lib version in schematics
  core-libs/setup/package.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

Revert "fix: elevate scroll to top button when overlaps with banner (#19711)"
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.html
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.spec.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.ts
  projects/storefrontstyles/scss/components/content/navigation/_scroll-to-top.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9092: Read out group name when navigating with prev/next button
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9092: Incorporate review feedback
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront-component.module.ts
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/skip-focus-header-items-mobile.e2e.cy.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront-component.module.ts
  projects/storefrontlib/layout/main/storefront.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
Owners: @SAP/spartacus-global-owners

fix sonar issues
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
Owners: @SAP/spartacus-global-owners

fix sonar issues using const instead of let
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
Owners: @SAP/spartacus-global-owners

fix code validation failed issues
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/default-coupon-card-layout.config.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

do code format for the PR
  projects/assets/src/translations/en/myAccount.json
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
  projects/storefrontstyles/scss/components/myaccount/_index.scss
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

feat: move anonymous consent notification inside dialog
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.html
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.html
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consents-dialog.module.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
