Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

fix(a11y): Prevent search label from being read twice (#19490)
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-global-owners

CXCDS-12370: renamed feature toggle
  integration-libs/cds/src/config/default-cds-config.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: failing cypress tests
  projects/storefrontapp-e2e-cypress/cypress/helpers/login.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-configurator.ts
Owners: @SAP/spartacus-global-owners

fix: add * to b2b forms required fields
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create-dialog/customer-ticketing-create-dialog.component.html
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create.module.ts
  feature-libs/organization/administration/components/budget/form/budget-form.component.html
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/user/form/user-form.component.html
Owners: @SAP/spartacus-global-owners

fix: fix SonarQube check issue
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create.module.ts
Owners: @SAP/spartacus-global-owners

fix: address PR comments add form legend about * and required fields
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create-dialog/customer-ticketing-create-dialog.component.html
  feature-libs/organization/administration/components/budget/form/budget-form.component.html
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/user/form/user-form.component.html
Owners: @SAP/spartacus-global-owners

fix: address few more Validation.required forms
  feature-libs/cart/import-export/components/import-to-cart/import-entries-dialog/import-to-new-saved-cart-form/import-to-new-saved-cart-form.component.html
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
  feature-libs/checkout/base/components/checkout-billing-address/checkout-billing-address-form.component.html
  feature-libs/checkout/base/components/checkout-login/checkout-login.component.html
  feature-libs/checkout/base/components/checkout-place-order/checkout-place-order.component.html
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.html
Owners: @SAP/spartacus-global-owners

fix: fixing remaining forms with Validation.required
  feature-libs/organization/administration/components/cost-center/form/cost-center-form.component.html
  feature-libs/organization/administration/components/unit/links/addresses/form/unit-address-form.component.html
  feature-libs/organization/administration/components/user-group/form/user-group-form.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/user-registration/components/form/user-registration-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/profile/components/reset-password/reset-password.component.html
  integration-libs/s4-service/checkout/components/checkout-service-details/checkout-service-details.component.html
  integration-libs/s4-service/order/components/reschedule-service-order/reschedule-service-order.component.html
Owners: @SAP/spartacus-global-owners

CXCDS-12370: Fixed linting error
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-8810) B2B "Save" Button text not visible
  feature-libs/organization/administration/styles/_buttons.scss
  feature-libs/organization/administration/styles/_list.scss
Owners: @SAP/spartacus-global-owners

imporve accessability
  feature-libs/organization/administration/components/unit/form/unit-form.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

feat(a11y): add aria-label attribute to payment card graphics for Payment Details cards (#19404)
  projects/assets/src/translations/en/payment.json
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.ts
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

feat(a11y): improve My Account payment-details/address-book components readability support (#19451)
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  feature-libs/user/profile/components/address-book/address-book.component.ts
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.ts
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

Make prettier happy
  projects/storefrontapp-e2e-cypress/cypress/helpers/login.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-configurator.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8199) - Updated post registration success message (#19482)
  feature-libs/user/profile/assets/translations/en/userProfile.json
  feature-libs/user/profile/components/register/register-component.service.spec.ts
  feature-libs/user/profile/components/register/register-component.service.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/register.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

test: Fix failing product-search-product-type-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-product-type-flow.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

CXCDS-12370: Added feature toggle value to PT config as well
  integration-libs/cds/src/config/default-cds-config.ts
  integration-libs/cds/src/config/profile-tag.config.ts
  integration-libs/cds/src/profiletag/model/profile-tag.model.ts
  integration-libs/cds/src/profiletag/services/profiletag-event.service.spec.ts
Owners: @SAP/spartacus-global-owners

feat(a11y): add a11y selected label improvements to checkout Address/PaymentMethod components (#19491)
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  feature-libs/user/profile/assets/translations/en/address.json
  projects/assets/src/translations/en/payment.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

improve accessibility using directive
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.ts
Owners: @SAP/spartacus-global-owners

fix(a11y): Facets styling when using a11y tab component
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
  projects/storefrontstyles/scss/components/product/list/_facet-list.scss
Owners: @SAP/spartacus-global-owners

fix(a11y): Facets styling when using a11y tab component
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
  projects/storefrontstyles/scss/components/product/list/_facet-list.scss
Owners: @SAP/spartacus-global-owners

remove unncessary part
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8810) B2B "Save" Button text not visible
  feature-libs/organization/administration/styles/_buttons.scss
  feature-libs/organization/administration/styles/_list.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8771) HCT Windows adjustments
  feature-libs/cart/base/styles/components/_item-counter.scss
  feature-libs/cart/base/styles/components/_mini-cart.scss
  projects/storefrontstyles/scss/components/content/navigation/_navigation-ui.scss
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
  projects/storefrontstyles/scss/components/product/list/_facet.scss
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

add Guest User
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.ts
Owners: @SAP/spartacus-global-owners

fix sonar
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.ts
Owners: @SAP/spartacus-global-owners

Fix accessibility issue
  feature-libs/user/account/styles/_my-account-v2-user.scss
  projects/assets/src/translations/en/common.json
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontstyles/scss/components/content/navigation/_my-account-v2-navigation.scss
  projects/storefrontstyles/scss/components/content/navigation/_navigation-ui.scss
  projects/storefrontstyles/scss/layout/page-templates/_myaccount-v2-page.scss
Owners: @SAP/spartacus-global-owners

bump versions
  integration-libs/opf/package.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

show error message
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

fix ci error
  integration-libs/opf/package.json
Owners: @SAP/spartacus-global-owners

fix ci error
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-schematics-owners

add unit tests
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.spec.ts
Owners: @SAP/spartacus-global-owners

prettier fix
  projects/assets/src/translations/en/common.json
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontstyles/scss/components/content/navigation/_my-account-v2-navigation.scss
  projects/storefrontstyles/scss/layout/page-templates/_myaccount-v2-page.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8808: Enhance review case and remove flacky status
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/customer360.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
Owners: @SAP/spartacus-global-owners

fix: style Get Directions link as link
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8880) HCT adjustments on test environment:
  feature-libs/pickup-in-store/styles/_pickup-options.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
