Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

fix: (CXSPA-9046) FacetList Checkbox CC issue for Selected state in HCB theme.
  projects/storefrontstyles/scss/components/product/list/_facet.scss
Owners: @SAP/spartacus-global-owners

chore: Update tslib
  core-libs/setup/package.json
  feature-libs/asm/package.json
  feature-libs/cart/package.json
  feature-libs/checkout/package.json
  feature-libs/customer-ticketing/package.json
  feature-libs/estimated-delivery-date/package.json
  feature-libs/order/package.json
  feature-libs/organization/package.json
  feature-libs/pdf-invoices/package.json
  feature-libs/pickup-in-store/package.json
  feature-libs/product-configurator/package.json
  feature-libs/product-multi-dimensional/package.json
  feature-libs/product/package.json
  feature-libs/qualtrics/package.json
  feature-libs/quote/package.json
  feature-libs/requested-delivery-date/package.json
  feature-libs/smartedit/package.json
  feature-libs/storefinder/package.json
  feature-libs/tracking/package.json
  feature-libs/user/package.json
  integration-libs/cdc/package.json
  integration-libs/cdp/package.json
  integration-libs/cds/package.json
  integration-libs/cpq-quote/package.json
  integration-libs/digital-payments/package.json
  integration-libs/epd-visualization/package.json
  integration-libs/omf/package.json
  integration-libs/opf/package.json
  integration-libs/opps/package.json
  integration-libs/s4-service/package.json
  integration-libs/s4om/package.json
  integration-libs/segment-refs/package.json
  package-lock.json
  package.json
  projects/assets/package.json
  projects/core/package.json
  projects/schematics/package.json
  projects/schematics/src/dependencies.json
  projects/ssr-tests/package.json
  projects/storefrontlib/package.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: add peer-dependency on @spartacus/core in @spartacus/assets
  projects/assets/package.json
  projects/assets/tsconfig.lib.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

in the script, in function `generateLanguageIndex`, if the JSON filename (chunk name) is in kebab-case, then convert the chunk name to camelCase (without changing the original JSON file)
  scripts/generate-translations-ts.ts
Owners: @SAP/spartacus-global-owners

fix(schematics): in fresh app use directly the EN translations `<prefix>TranslationsEn` instead of the deprecated `<prefix>Translations` wrapper object
  projects/schematics/src/add-spartacus/configuration.ts
  projects/schematics/src/shared/utils/lib-utils.ts
Owners: @SAP/spartacus-schematics-owners

rename and move the script
  scripts/i18n/generate-translations-ts-barrels.ts
Owners: @SAP/spartacus-global-owners

prettier: run prettier on the modified generated files
  feature-libs/asm/customer-360/assets/translations/translations.ts
  feature-libs/cart/base/assets/translations/translations.ts
  feature-libs/cart/import-export/assets/translations/translations.ts
  feature-libs/cart/quick-order/assets/translations/translations.ts
  feature-libs/cart/saved-cart/assets/translations/translations.ts
  feature-libs/cart/wish-list/assets/translations/translations.ts
  feature-libs/checkout/b2b/assets/translations/translations.ts
  feature-libs/checkout/base/assets/translations/translations.ts
  feature-libs/checkout/scheduled-replenishment/assets/translations/translations.ts
  feature-libs/customer-ticketing/assets/translations/translations.ts
  feature-libs/estimated-delivery-date/assets/translations/translations.ts
  feature-libs/organization/account-summary/assets/translations/translations.ts
  feature-libs/organization/administration/assets/translations/translations.ts
  feature-libs/organization/order-approval/assets/translations/translations.ts
  feature-libs/organization/unit-order/assets/translations/translations.ts
  feature-libs/organization/user-registration/assets/translations/translations.ts
  feature-libs/pdf-invoices/assets/translations/translations.ts
  feature-libs/pickup-in-store/assets/translations/translations.ts
  feature-libs/product-configurator/common/assets/translations/translations.ts
  feature-libs/product-multi-dimensional/selector/assets/translations/translations.ts
  feature-libs/product/bulk-pricing/assets/translations/translations.ts
  feature-libs/product/future-stock/assets/translations/translations.ts
  feature-libs/product/image-zoom/assets/translations/translations.ts
  feature-libs/product/variants/assets/translations/translations.ts
  feature-libs/requested-delivery-date/assets/translations/translations.ts
  feature-libs/storefinder/assets/translations/translations.ts
  feature-libs/user/account/assets/translations/translations.ts
  feature-libs/user/profile/assets/translations/translations.ts
  integration-libs/cpq-quote/assets/translations/translations.ts
  integration-libs/epd-visualization/assets/translations/translations.ts
  integration-libs/opf/checkout/assets/translations/translations.ts
  integration-libs/opf/payment/assets/translations/translations.ts
  integration-libs/s4-service/assets/translations/translations.ts
  scripts/i18n/generate-translations-ts-barrels.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, try enhance case
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, disable case and feature toggle for passing cases
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9098, skip some case for now and
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, add more specific comments
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, update comments
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

lint fix
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
Owners: @SAP/spartacus-global-owners

test and fix dialogs affected by the removal of extended bootstrap classes
  feature-libs/cart/base/styles/components/_clear-cart-dialog.scss
  feature-libs/cart/import-export/styles/_import-entries-dialog.scss
  feature-libs/cart/saved-cart/styles/_saved-cart-form-dialog.scss
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-dialog.scss
  feature-libs/order/components/order-details/order-detail-items/consignment-tracking/tracking-events/tracking-events.component.html
  feature-libs/order/components/replenishment-order-cancellation-dialog/replenishment-order-cancellation-dialog.component.html
  feature-libs/order/styles/components/order-history/_consignment-tracking.scss
  feature-libs/order/styles/components/replenishment-order/_replenishment-order-cancellation.scss
  feature-libs/pickup-in-store/styles/_pickup-option-dialog.scss
  feature-libs/product/image-zoom/styles/_product-image-zoom-dialog.scss
  feature-libs/user/profile/components/address-book/address-form/suggested-addresses-dialog/suggested-addresses-dialog.component.html
  feature-libs/user/profile/styles/_close-account-modal.scss
  feature-libs/user/profile/styles/_suggested-addresses-dialog.scss
  integration-libs/opf/base/components/opf-error-modal/opf-error-modal.component.html
  integration-libs/opf/base/styles/components/_opf-error-modal.scss
  projects/storefrontlib/cms-components/myaccount/my-coupons/coupon-card/coupon-dialog/coupon-dialog.component.html
  projects/storefrontlib/cms-components/product/stock-notification/stock-notification-dialog/stock-notification-dialog.component.html
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.html
  projects/storefrontstyles/scss/components/myaccount/_my-coupons-dialog.scss
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
  projects/storefrontstyles/scss/components/product/details/stock-notification/_stock-notification-dialog.scss
  projects/styles/bootstrap-copy/scss/mixins/_image.scss
Owners: @SAP/spartacus-global-owners

fix: add browserInfo data
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Fix sonar
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

changes based on comment
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontstyles/scss/components/content/navigation/_my-account-v2-navigation.scss
Owners: @SAP/spartacus-global-owners

changes based on comment
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontstyles/scss/components/content/navigation/_my-account-v2-navigation.scss
Owners: @SAP/spartacus-global-owners

fix: add browserInfo data
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Fix sonar
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Update header
  integration-libs/opf/payment/core/connectors/opf-payment.adapter.ts
Owners: @SAP/spartacus-global-owners

fix pr comments
  extra-webpack.config.js
  feature-libs/checkout/package.json
  projects/schematics/src/add-spartacus/index.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: add browserInfo data
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Fix sonar
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

add tests
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
Owners: @SAP/spartacus-global-owners

add service logic
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

add fix
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

fix sonar
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

adapt copyright
  feature-libs/user/profile/components/otp-login-register/index.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.spec.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.module.ts
  feature-libs/user/profile/components/otp-login-register/otp-register-component.service.spec.ts
  feature-libs/user/profile/components/otp-login-register/otp-register-component.service.ts
  feature-libs/user/profile/components/register/register.component.html
  feature-libs/user/profile/components/registration-verification-token-form/index.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.spec.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.module.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.spec.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.ts
  feature-libs/user/profile/components/user-account-constants.ts
  feature-libs/user/profile/core/connectors/user-profile.connector.spec.ts
  feature-libs/user/profile/core/facade/registration-verification-token.service.spec.ts
  feature-libs/user/profile/core/facade/registration-verification-token.service.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.spec.ts
  feature-libs/user/profile/root/facade/registration-verification-token.facade.ts
  feature-libs/user/profile/root/model/otp-registration.model.ts
Owners: @SAP/spartacus-global-owners

added optional chaining for intendedLocation?.displayName, and added setIntendedPickupLocation to the list of subscriptions to unsubscribe later
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
Owners: @SAP/spartacus-global-owners

comment-out check
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/user-registration/b2b-user-registration-e2e.cy.ts
Owners: @SAP/spartacus-global-owners

add e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/otp-registration.e2e-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/accessibility/tabbing-order.config.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/register.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8772:draft
  feature-libs/organization/user-registration/assets/translations/en/userRegistration.json
  feature-libs/organization/user-registration/components/otp-form/index.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.html
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.module.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.service.ts
  feature-libs/organization/user-registration/components/public_api.ts
  feature-libs/organization/user-registration/components/user-registration-components.module.ts
  feature-libs/organization/user-registration/root/model/user-registration.model.ts
  feature-libs/organization/user-registration/root/user-registration-root.module.ts
  feature-libs/user/account/assets/translations/en/userAccount.json
  feature-libs/user/account/components/public_api.ts
  feature-libs/user/account/components/register-verification-token-form/index.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form-component.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.html
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.module.ts
  feature-libs/user/account/components/user-account-component.module.ts
  feature-libs/user/account/components/user-account-constants.ts
  feature-libs/user/account/root/model/otp-login.model.ts
  feature-libs/user/account/root/user-account-root.module.ts
  package.json
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-structure/routing/default-routing-config.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8772:finish funciton development
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form-component.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.html
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
  projects/assets/src/translations/en/common.json
Owners: @SAP/spartacus-global-owners

migration
  docs/migration/2211_ng18/bootstrap.md
  package-lock.json
Owners: @SAP/spartacus-global-owners

Update bootstrap.md
  docs/migration/2211_ng18/bootstrap.md
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/user/profile/components/address-book/address-form/suggested-addresses-dialog/suggested-addresses-dialog.component.html
  feature-libs/user/profile/components/close-account/components/close-account-modal/close-account-modal.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9003) fix issue with checkout country/region label read twice
  feature-libs/user/profile/components/address-book/address-form/address-form.component.html
Owners: @SAP/spartacus-global-owners

Update dependencies.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-schematics-owners

fix: (CXSPA-9041) Popover directive HCT contrast
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/popover/popover.directive.ts
  projects/storefrontstyles/scss/components/misc/popover/_popover.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners
