Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

add dialog narration to the end of title
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  projects/assets/src/translations/en/product.json
Owners: @SAP/spartacus-global-owners

review: rename testEntry->clonedEntry
  feature-libs/product-configurator/common/components/configurator-cart-entry-bundle-info/configurator-cart-entry-bundle-info.component.spec.ts
Owners: @SAP/spartacus-global-owners

review feedback
  feature-libs/product-configurator/rulebased/components/service/configurator-storefront-utils.service.spec.ts
Owners: @SAP/spartacus-global-owners

close button in download invoices contrast
  feature-libs/order/styles/components/order-details/_my-account-v2-order-details.scss
Owners: @SAP/spartacus-global-owners

read loading & no invoice in voice over
  feature-libs/order/components/order-details/my-account-v2/download-invoices/my-account-v2-download-invoices.component.html
Owners: @SAP/spartacus-global-owners

disable CMS quards
  projects/storefrontlib/cms-structure/services/cms-guards.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: CXSPA-8723 test isolation
  feature-libs/product-configurator/rulebased/occ/variant/converters/occ-configurator-variant-normalizer.spec.ts
Owners: @SAP/spartacus-global-owners

remove fdescribe
  feature-libs/product-configurator/rulebased/occ/variant/converters/occ-configurator-variant-normalizer.spec.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8724 fix test isolation
  feature-libs/product-configurator/rulebased/components/attribute/types/base/configurator-attribute-base.component.spec.ts
Owners: @SAP/spartacus-global-owners

prevent global funct and resources in ssr
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  integration-libs/opf/cta/components/opf-cta-element/opf-cta-element.component.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
Owners: @SAP/spartacus-global-owners

fix unit tests
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.spec.ts
Owners: @SAP/spartacus-global-owners

download invoice - title + group
  feature-libs/order/components/order-details/my-account-v2/download-invoices/my-account-v2-download-invoices.component.html
Owners: @SAP/spartacus-global-owners

adding heading level
  feature-libs/customer-ticketing/components/my-account-v2/my-account-v2-customer-ticketing.component.html
  feature-libs/order/components/my-account-v2/my-account-v2-orders.component.html
Owners: @SAP/spartacus-global-owners

restrict direction keys
  projects/storefrontlib/cms-components/content/tab/tab.component.spec.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
  projects/storefrontlib/cms-components/content/tab/tab.model.ts
  projects/storefrontlib/cms-components/product/product-list/product-facet-navigation/facet-list/facet-list.component.ts
Owners: @SAP/spartacus-global-owners

fix focus ring overlap
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-global-owners

ConfiguratorGroupMenuComponent test isolation issues
  feature-libs/product-configurator/rulebased/components/group-menu/configurator-group-menu.component.spec.ts
Owners: @SAP/spartacus-global-owners

feat(a11y): improve My Account payment-details/address-book components a11y readability support
  feature-libs/user/profile/components/address-book/address-book.component.ts
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8734: fix test isolation for OccConfigurationVariantAdapter
  feature-libs/product-configurator/rulebased/occ/variant/variant-configurator-occ.adapter.spec.ts
Owners: @SAP/spartacus-global-owners

remove fdescribe
  feature-libs/product-configurator/rulebased/occ/variant/variant-configurator-occ.adapter.spec.ts
Owners: @SAP/spartacus-global-owners

prettier
  projects/storefrontlib/cms-components/content/tab/tab.component.spec.ts
Owners: @SAP/spartacus-global-owners

remove unnecessary change
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
Owners: @SAP/spartacus-global-owners

Dropdown refocus on esc key press
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/focus-management.e2e.cy.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

chore: Adjust js doc for useExtendedMediaComponentConfiguration
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

CXSPA-8722: fix test isolation issues for ConfigAttributeNumericInputFieldComponent
  feature-libs/product-configurator/rulebased/components/attribute/types/numeric-input-field/configurator-attribute-numeric-input-field.component.spec.ts
Owners: @SAP/spartacus-global-owners

Fix last failing test
  feature-libs/product-configurator/rulebased/components/group-menu/configurator-group-menu.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix error in with formErrorsDescriptiveMessages
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
Owners: @SAP/spartacus-global-owners

unit test fix
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix e2e
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search.core-e2e.cy.ts
Owners: @SAP/spartacus-global-owners

chore: prettier fix
  feature-libs/customer-ticketing/components/my-account-v2/my-account-v2-customer-ticketing.component.html
  feature-libs/order/components/my-account-v2/my-account-v2-orders.component.html
Owners: @SAP/spartacus-global-owners

update with new title
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  projects/assets/src/translations/en/product.json
Owners: @SAP/spartacus-global-owners

update test file
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8156) add landmark for checkout delivery address section
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
  feature-libs/checkout/base/components/checkout-delivery-mode/checkout-delivery-mode.component.html
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CR updates
  feature-libs/cart/base/core/connectors/guest-user/cart-guest-user.connector.spec.ts
  feature-libs/cart/base/core/facade/cart-guest-user.service.spec.ts
  feature-libs/cart/base/occ/adapters/occ-cart-guest-user.adapter.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8719 fix test issues
  feature-libs/product-configurator/rulebased/components/attribute/types/drop-down/configurator-attribute-drop-down.component.spec.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8719 change constant
  feature-libs/product-configurator/rulebased/components/attribute/types/drop-down/configurator-attribute-drop-down.component.spec.ts
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
