Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

Update
  integration-libs/opf/payment/root/config/default-opf-payment-routing-config.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/opf/opf-billing-address.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/opf/opf-payment-options.e2e.cy.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

refactor: rename methods arguments from 'sapCode' to 'unitSapCode'. However don't rename the product model properties 'product.sapUnit.sapCode'.
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.spec.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.ts
  projects/core/src/product/connectors/product/prduct-availability.adapter.ts
  projects/core/src/product/connectors/product/product-availability.connector.spec.ts
  projects/core/src/product/connectors/product/product-availability.connector.ts
  projects/core/src/product/facade/product-availability.service.spec.ts
  projects/core/src/product/facade/product-availability.service.ts
Owners: @SAP/spartacus-core-owners

fix: fix prettier issues
  feature-libs/cart/wish-list/components/add-to-wishlist/add-to-wish-list.module.ts
  integration-libs/s4-service/order/components/s4-service-order-detail-actions/s4-service-order-detail-actions.module.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.spec.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.module.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Update test.
  projects/core/src/product/facade/product-availability.service.spec.ts
Owners: @SAP/spartacus-core-owners

Revert "CXSPA-8577: Update test."
  projects/core/src/product/facade/product-availability.service.spec.ts
Owners: @SAP/spartacus-core-owners

refactor(product-availability): rename methods arguments from 'sapCode' to 'unitSapCode' (#19582)
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.spec.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.ts
  projects/core/src/product/connectors/product/prduct-availability.adapter.ts
  projects/core/src/product/connectors/product/product-availability.connector.spec.ts
  projects/core/src/product/connectors/product/product-availability.connector.ts
  projects/core/src/product/facade/product-availability.service.spec.ts
  projects/core/src/product/facade/product-availability.service.ts
Owners: @SAP/spartacus-core-owners

CXSPA-8577: Updated test
  projects/core/src/product/facade/product-availability.service.spec.ts
Owners: @SAP/spartacus-core-owners

fix: fix issue with tsrule - directive has to have attirubte selector
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/wish-list/components/add-to-wishlist/add-to-wish-list.component.html
  feature-libs/order/components/order-history/order-history.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.html
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
  integration-libs/cdc/user-account/login-form/reconsent/cdc-reconsent.component.html
  integration-libs/s4-service/order/components/s4-service-order-detail-actions/s4-service-order-detail-actions.component.html
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.spec.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.ts
Owners: @SAP/spartacus-global-owners

fix(a11y): Focus outline visible for future stock accordion * fix grid arrangement on PDP to keep future stock accordion above the add to cart button
  feature-libs/product-configurator/common/styles/_configure-product.scss
  feature-libs/product/future-stock/components/future-stock-accordion/future-stock-accordion.component.ts
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/layout/page-templates/_product-detail.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

refactor: Switch to a11yCroppedFocusRing
  feature-libs/product/future-stock/components/future-stock-accordion/future-stock-accordion.component.ts
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
Owners: @SAP/spartacus-global-owners

Cropped focus ring
  feature-libs/cart/base/components/cart-shared/cart-item-list/cart-item-list.component.ts
  feature-libs/cart/base/components/cart-shared/cart-item/cart-item.component.ts
  feature-libs/cart/base/styles/components/_cart-item-list.scss
  feature-libs/cart/base/styles/components/_cart-item.scss
  feature-libs/organization/administration/components/shared/list/list.component.ts
  feature-libs/organization/administration/styles/_list.scss
  feature-libs/product/future-stock/components/future-stock-accordion/future-stock-accordion.component.ts
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
  feature-libs/quote/components/confirm-dialog/quote-confirm-dialog.component.ts
  feature-libs/quote/styles/_quote-confirm-dialog.scss
  feature-libs/quote/styles/mixins/_quote-toggle.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/chat-messaging/messaging/messaging.component.ts
  projects/storefrontstyles/scss/components/misc/chat-messaging/_messaging.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: fixed Organization user registration schematic
  feature-libs/organization/schematics/add-organization/schema.json
Owners: @SAP/spartacus-global-owners

Table column header narration improvement
  feature-libs/cart/saved-cart/components/list/saved-cart-list.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.module.ts
  feature-libs/order/components/return-request-list/order-return-request-list.component.html
  feature-libs/order/components/return-request-list/order-return-request-list.module.ts
  feature-libs/organization/account-summary/components/details/document/account-summary-document.component.html
  feature-libs/organization/account-summary/components/details/document/account-summary-document.module.ts
  feature-libs/organization/order-approval/components/details/order-detail-permission-results/order-detail-permission-results.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.module.ts
  feature-libs/pdf-invoices/components/invoices-list/invoices-list.component.html
  feature-libs/pdf-invoices/components/pdf-invoices-components.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/my-interests/my-interests.component.html
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

add missing config for 'a11yShowLabelOfSelect' feature flag
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

feat: Accessibility improvements for OPF payment and review
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.html
  integration-libs/opf/checkout/styles/components/_opf-checkout-payment-and-review.scss
  integration-libs/opf/checkout/styles/components/_opf-checkout-terms-and-conditions-alert.scss
  projects/assets/src/translations/en/payment.json
Owners: @SAP/spartacus-global-owners

fix title not reading for dialogs with role='dialog'
  feature-libs/asm/components/asm-create-customer-form/asm-create-customer-form.component.html
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/asm/customer-360/components/asm-customer-360/asm-customer-360.component.html
Owners: @SAP/spartacus-global-owners

Changes
  integration-libs/opf/base/components/opf-error-modal/opf-error-modal.component.ts
  integration-libs/opf/base/core/services/opf-endpoints.service.ts
  integration-libs/opf/base/root/services/opf-metadata-store.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.spec.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.ts
  integration-libs/opf/cta/core/connectors/opf-cta.adapter.ts
  integration-libs/opf/cta/core/connectors/opf-cta.connector.spec.ts
  integration-libs/opf/cta/core/connectors/opf-cta.connector.ts
  integration-libs/opf/cta/core/facade/opf-cta.service.spec.ts
  integration-libs/opf/cta/core/facade/opf-cta.service.ts
  integration-libs/opf/cta/core/services/opf-dynamic-cta.service.spec.ts
  integration-libs/opf/cta/core/services/opf-dynamic-cta.service.ts
  integration-libs/opf/cta/core/services/opf-static-cta.service.spec.ts
  integration-libs/opf/cta/core/services/opf-static-cta.service.ts
  integration-libs/opf/cta/core/tokens/tokens.ts
  integration-libs/opf/cta/opf-api/adapters/opf-api-cta.adapter.spec.ts
  integration-libs/opf/cta/opf-api/adapters/opf-api-cta.adapter.ts
  integration-libs/opf/cta/root/facade/opf-cta.facade.ts
  integration-libs/opf/cta/root/model/opf-cta.model.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.spec.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
  integration-libs/opf/global-functions/root/facade/opf-global-functions.facade.ts
  integration-libs/opf/global-functions/root/model/opf-global-functions.model.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session-wrapper.service.ts
  package.json
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

fix: Prevent blank order history page when using new tab component (#19543)
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  feature-libs/order/components/order-history/order-history.component.html
  feature-libs/order/components/order-history/order-history.component.ts
  feature-libs/order/styles/components/order-history/_order-history.scss
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/my-account/order-history-orders-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/order-history.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/epd-visualization/visual-picking-tab.ts
  projects/storefrontlib/cms-components/content/tab-paragraph-container/tab-paragraph-container.component.html
  projects/storefrontlib/cms-components/content/tab-paragraph-container/tab-paragraph-container.component.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.html
  projects/storefrontlib/cms-components/content/tab/tab.model.ts
Owners: @SAP/spartacus-global-owners

chore: Fix storefrontlib unit test
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: fix issue with tsrule - directive has to have attirubte selector
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.spec.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.ts
Owners: @SAP/spartacus-global-owners

disable suspect tests and run tests many times
  package.json
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

move test repeat lines
  ci-scripts/unit-tests.sh
  package.json
Owners: @SAP/spartacus-global-owners

fix
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/my-company/units.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/my-company/config/unit.ts
  projects/storefrontapp/src/environments/environment.ts
Owners: @SAP/spartacus-global-owners

Revert "fix: checkmarx issues"
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/config/index.ts
  integration-libs/opf/quick-buy/root/config/opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/model/opf-quick-buy.model.ts
  integration-libs/opf/quick-buy/root/opf-quick-buy-root.module.ts
  integration-libs/opf/quick-buy/root/public_api.ts
  integration-libs/opf/schematics/add-opf/__snapshots__/index_spec.ts.snap
  integration-libs/opf/schematics/add-opf/schema.json
  projects/schematics/src/shared/lib-configs/integration-libs/opf-schematics-config.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
  scripts/install/config.opf.sh
  scripts/install/functions.sh
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

remove unit-kris
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/my-company/units.e2e.cy.ts
  projects/storefrontapp/src/environments/environment.ts
Owners: @SAP/spartacus-global-owners

Update unit.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/my-company/config/unit.ts
Owners: @SAP/spartacus-global-owners

running spa e2es against CX 2211.31
  .env-cmdrc
  ci-scripts/e2e-cypress.sh
  projects/storefrontapp-e2e-cypress/cypress.config.ci.ts
  projects/storefrontapp-e2e-cypress/cypress.config.ts
Owners: @SAP/spartacus-global-owners

Revert "fix: checkmarx issues"
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/config/index.ts
  integration-libs/opf/quick-buy/root/config/opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/model/opf-quick-buy.model.ts
  integration-libs/opf/quick-buy/root/opf-quick-buy-root.module.ts
  integration-libs/opf/quick-buy/root/public_api.ts
  integration-libs/opf/schematics/add-opf/__snapshots__/index_spec.ts.snap
  integration-libs/opf/schematics/add-opf/schema.json
  projects/schematics/src/shared/lib-configs/integration-libs/opf-schematics-config.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
  scripts/install/config.opf.sh
  scripts/install/functions.sh
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

test: Fix failing e2e tests
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/keyboard-navigation.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/my-account/order-history-orders-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/orders/order-cancellations-returns.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-product-type-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-store-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_details/product-details.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/b2b-replenishment-order-history.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/order-history.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
Owners: @SAP/spartacus-global-owners

b2b-order-approval failing e2e fix
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/order-approval/b2b-order-approval.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8962 fix unstable test
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_configurator/product-configurator-vc-cart.e2e-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-configurator-cart.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-configurator.ts
Owners: @SAP/spartacus-global-owners

run 10x units
  .github/workflows/ci-continuous-integration.yml
  ci-scripts/unit-tests.sh
Owners: @SAP/spartacus-global-owners

fix syntax error
  .github/workflows/ci-continuous-integration.yml
Owners: @SAP/spartacus-global-owners

enable mail test
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

enable external link test
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: Improve accessibility for OPF payments
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.html
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.html
  integration-libs/opf/checkout/styles/components/_opf-checkout-payment-and-review.scss
  integration-libs/opf/checkout/styles/components/_opf-checkout-terms-and-conditions-alert.scss
  projects/assets/src/translations/en/payment.json
Owners: @SAP/spartacus-global-owners

fix: move GP url in config
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/config/index.ts
  integration-libs/opf/quick-buy/root/config/opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/model/opf-quick-buy.model.ts
  integration-libs/opf/quick-buy/root/opf-quick-buy-root.module.ts
  integration-libs/opf/quick-buy/root/public_api.ts
  integration-libs/opf/schematics/add-opf/__snapshots__/index_spec.ts.snap
  integration-libs/opf/schematics/add-opf/schema.json
  projects/schematics/src/shared/lib-configs/integration-libs/opf-schematics-config.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
  scripts/install/config.opf.sh
  scripts/install/functions.sh
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix build error
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
  integration-libs/opf/quick-buy/root/model/opf-quick-buy.model.ts
Owners: @SAP/spartacus-global-owners

fix unit test
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix test
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
  integration-libs/opf/schematics/add-opf/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
