Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

hide consent management button in the tab when the banner is visible
  projects/assets/src/translations/en/user.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/anonymous-consent-management.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-open-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

refactor: Use ngOnchanges instead of getter
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.html
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9113: Adjust border for multi-selection-images component
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.ts
Owners: @SAP/spartacus-global-owners

refactor: address PR comment - change implementation to use MutationObserver
  feature-libs/user/account/components/login/dom-change.directive.ts
  feature-libs/user/account/components/login/login.component.html
  feature-libs/user/account/components/login/login.component.spec.ts
  feature-libs/user/account/components/login/login.component.ts
  feature-libs/user/account/components/login/login.module.ts
Owners: @SAP/spartacus-global-owners

Refocus on card after selecting
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Update reset-password-component.service.spec.ts
  feature-libs/user/profile/components/reset-password/reset-password-component.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: fixing linting issue
  feature-libs/user/account/components/login/dom-change.directive.ts
  feature-libs/user/account/components/login/login.component.html
Owners: @SAP/spartacus-global-owners

update test file
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: scroll to top visible if consents banner is displayed
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-management-banner.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Revert "fix: a11yPasswordVisibilityBtnValueOverflow typo (#19531)"
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.ts
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.ts
  feature-libs/user/account/components/login-form/login-form.component.ts
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.ts
  feature-libs/user/profile/components/register/register.component.ts
  feature-libs/user/profile/components/reset-password/reset-password.component.ts
  feature-libs/user/profile/components/update-email/update-email.component.ts
  feature-libs/user/profile/components/update-password/my-account-v2-password.component.ts
  feature-libs/user/profile/components/update-password/update-password.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

add to csagent
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
Owners: @SAP/spartacus-global-owners

remove unnecessary part
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.html
Owners: @SAP/spartacus-global-owners

added visual focus exceptions
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners

added feature flags
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: No default values when installing packages with 'no-interactive' mode
  feature-libs/cart/schematics/add-cart/schema.json
  feature-libs/checkout/schematics/add-checkout/schema.json
  feature-libs/organization/schematics/add-organization/schema.json
  feature-libs/product-multi-dimensional/schematics/add-product-multi-dimensional/schema.json
  feature-libs/product/schematics/add-product/schema.json
  feature-libs/tracking/schematics/add-tracking/schema.json
  feature-libs/user/schematics/add-user/schema.json
  integration-libs/opf/schematics/add-opf/schema.json
  integration-libs/s4om/schematics/add-s4om/schema.json
  projects/schematics/src/add-spartacus/schema.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: (CXSPA-9034) UnitLevelOrderHistory Truncation on applying text spacing settings
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items.
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/skip-focus-header-items-mobile.e2e.cy.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

chore: Update Installation Script And Config
  scripts/install/config.default.sh
  scripts/install/functions.sh
Owners: @SAP/spartacus-global-owners

refactor: address PR comment - change cxDomChange directive implementation to be more generic
  feature-libs/user/account/components/login/dom-change.directive.ts
  feature-libs/user/account/components/login/login.component.html
  feature-libs/user/account/components/login/login.component.spec.ts
  feature-libs/user/account/components/login/login.component.ts
Owners: @SAP/spartacus-global-owners

fix: scroll to top visible if consents banner is displayed
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.spec.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.ts
  projects/storefrontstyles/scss/components/content/navigation/_scroll-to-top.scss
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-management-banner.scss
Owners: @SAP/spartacus-global-owners

chore: adjust TODO comment in config
  scripts/install/config.default.sh
Owners: @SAP/spartacus-global-owners

feat: move anonymous consent notification inside dialog
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.html
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.html
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consents-dialog.module.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

refactor: Use ngOnchanges instead of getter
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.html
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

chore: adjust creating-lib.md file
  docs/libs/creating-lib.md
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.ts
Owners: @SAP/spartacus-global-owners

refactor: address PR comments - move to stoerfrontlibs
  feature-libs/user/account/components/login/login.module.ts
  projects/storefrontlib/layout/a11y/index.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.module.ts
  projects/storefrontlib/layout/a11y/on-dom-change/index.ts
Owners: @SAP/spartacus-global-owners

removed useless imports
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
Owners: @SAP/spartacus-global-owners

Update docs/libs/creating-lib.md
  docs/libs/creating-lib.md
Owners: @SAP/spartacus-global-owners

Align 'Consent Management' button to center and ensure clear visible focus for accessibility
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-open-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

hide consent management button in the tab when the banner is visible
  projects/assets/src/translations/en/user.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/anonymous-consent-management.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-open-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

update test file
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

remove unnecessary part
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.html
Owners: @SAP/spartacus-global-owners

Refocus on card after selecting
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CR changes
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.ts
Owners: @SAP/spartacus-global-owners

removed useless imports
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
Owners: @SAP/spartacus-global-owners

refactor: address PR comments - use inject in new directive
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.ts
Owners: @SAP/spartacus-global-owners

fix: Absence of an email address during payment via Google Pay in OPF
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

refactor: add unit-test for new directive
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.spec.ts
Owners: @SAP/spartacus-global-owners

refactor: add unit-test for new directive - prettier fix
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8991) set aria-label attribute for navigation component button #19653
  feature-libs/user/account/components/login/login.component.html
  feature-libs/user/account/components/login/login.component.spec.ts
  feature-libs/user/account/components/login/login.component.ts
  feature-libs/user/account/components/login/login.module.ts
  projects/assets/src/translations/en/common.json
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.spec.ts
  projects/storefrontlib/layout/a11y/index.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.spec.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.module.ts
  projects/storefrontlib/layout/a11y/on-dom-change/index.ts
Owners: @SAP/spartacus-global-owners
