Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

CXSPA-8773: revert unused change
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/user-registration/b2b-otp-registration-e2e-spec-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

rework
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

prettier fix
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
Owners: @SAP/spartacus-global-owners

test: authserver update
  .env-cmdrc
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.ts
  feature-libs/user/account/occ/adapters/occ-user-account.adapter.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.ts
  projects/core/src/auth/user-auth/config/auth-config-initializer.ts
  projects/core/src/auth/user-auth/config/index.ts
  projects/core/src/auth/user-auth/user-auth.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix code review comments
  feature-libs/user/account/root/model/otp-login.model.ts
  feature-libs/user/account/root/user-account-root.module.ts
  feature-libs/user/profile/assets/translations/en/userProfile.json
  feature-libs/user/profile/components/otp-login-register/index.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.html
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.spec.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.ts
  feature-libs/user/profile/components/otp-login-register/otp-login-register.module.ts
  feature-libs/user/profile/components/otp-login-register/otp-register-component.service.spec.ts
  feature-libs/user/profile/components/otp-login-register/otp-register-component.service.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.spec.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.spec.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.ts
  feature-libs/user/profile/components/user-profile-components.module.ts
  feature-libs/user/profile/core/connectors/converters.ts
  feature-libs/user/profile/core/connectors/user-profile.adapter.ts
  feature-libs/user/profile/core/connectors/user-profile.connector.spec.ts
  feature-libs/user/profile/core/connectors/user-profile.connector.ts
  feature-libs/user/profile/core/facade/facade-providers.ts
  feature-libs/user/profile/core/facade/index.ts
  feature-libs/user/profile/core/facade/registration-verification-token.service.spec.ts
  feature-libs/user/profile/core/facade/registration-verification-token.service.ts
  feature-libs/user/profile/occ/adapters/config/default-occ-user-profile-endpoint.config.ts
  feature-libs/user/profile/occ/adapters/config/occ-user-profile-endpoint.model.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.spec.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.ts
  feature-libs/user/profile/root/facade/index.ts
  feature-libs/user/profile/root/facade/registration-verification-token.facade.ts
  feature-libs/user/profile/root/model/index.ts
  feature-libs/user/profile/root/model/otp-registration.model.ts
  feature-libs/user/profile/styles/_otp-register-form.scss
  feature-libs/user/profile/styles/_verification-token-form.scss
  projects/assets/src/translations/en/common.json
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/otp-registration-tabbing.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/otp-registration.e2e-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/accessibility/tabbing-order.config.ts
Owners: @SAP/spartacus-global-owners

fix code review comments
  feature-libs/user/profile/core/connectors/user-profile.connector.spec.ts
  feature-libs/user/profile/core/facade/facade-providers.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.spec.ts
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.ts
  feature-libs/user/profile/styles/_otp-register-form.scss
  feature-libs/user/profile/styles/_verification-token-form.scss
Owners: @SAP/spartacus-global-owners

fix pipeline check issues
  feature-libs/user/profile/styles/_otp-register-form.scss
  feature-libs/user/profile/styles/_verification-token-form.scss
Owners: @SAP/spartacus-global-owners

fix: handle OPF submit payment sequence error
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
Owners: @SAP/spartacus-global-owners

update addLibraryStyles function
  projects/schematics/src/shared/utils/lib-utils.ts
Owners: @SAP/spartacus-schematics-owners

update feature libs
  feature-libs/cart/_index.scss
  feature-libs/cart/schematics/add-cart/__snapshots__/index_spec.ts.snap
  feature-libs/checkout/_index.scss
  feature-libs/checkout/schematics/add-checkout/__snapshots__/index_spec.ts.snap
  feature-libs/organization/_index.scss
  feature-libs/organization/schematics/add-organization/__snapshots__/index_spec.ts.snap
  feature-libs/pickup-in-store/_index.scss
  feature-libs/pickup-in-store/schematics/add-pickup-in-store/__snapshots__/index_spec.ts.snap
  feature-libs/product-multi-dimensional/_index.scss
  feature-libs/product-multi-dimensional/schematics/add-product-multi-dimensional/__snapshots__/index_spec.ts.snap
  feature-libs/product/_index.scss
  feature-libs/product/schematics/add-product/__snapshots__/index_spec.ts.snap
  feature-libs/qualtrics/_index.scss
  feature-libs/qualtrics/schematics/add-qualtrics/__snapshots__/index_spec.ts.snap
  feature-libs/quote/_index.scss
  feature-libs/quote/schematics/add-quote/__snapshots__/index_spec.ts.snap
  feature-libs/storefinder/schematics/add-storefinder/__snapshots__/index_spec.ts.snap
  feature-libs/storefinder/styles/_index.scss
  integration-libs/epd-visualization/_index.scss
  integration-libs/epd-visualization/schematics/add-epd-visualization/__snapshots__/index_spec.ts.snap
  integration-libs/opf/_index.scss
  integration-libs/opf/schematics/add-opf/__snapshots__/index_spec.ts.snap
  projects/schematics/src/shared/lib-configs/cart-schematics-config.ts
  projects/schematics/src/shared/lib-configs/checkout-schematics-config.ts
  projects/schematics/src/shared/lib-configs/integration-libs/epd-schematics-config.ts
  projects/schematics/src/shared/lib-configs/integration-libs/opf-schematics-config.ts
  projects/schematics/src/shared/lib-configs/organization-schematics-config.ts
  projects/schematics/src/shared/lib-configs/pickup-in-store-schematics-config.ts
  projects/schematics/src/shared/lib-configs/product-multi-dimensional-schematics-config.ts
  projects/schematics/src/shared/lib-configs/product-schematics-config.ts
  projects/schematics/src/shared/lib-configs/qualtrics-schematics-config.ts
  projects/schematics/src/shared/lib-configs/quote-schematics-config.ts
  projects/schematics/src/shared/lib-configs/storefinder-schematics-config.ts
  projects/schematics/src/shared/libs-constants.ts
  projects/storefrontapp/src/styles/lib-cart.scss
  projects/storefrontapp/src/styles/lib-checkout.scss
  projects/storefrontapp/src/styles/lib-epd-visualization.scss
  projects/storefrontapp/src/styles/lib-opf.scss
  projects/storefrontapp/src/styles/lib-organization.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

update the rest of the feature libs
  projects/storefrontapp/src/styles/lib-pickup-in-store.scss
  projects/storefrontapp/src/styles/lib-product-multi-dimensional.scss
  projects/storefrontapp/src/styles/lib-product.scss
  projects/storefrontapp/src/styles/lib-qualtrics.scss
  projects/storefrontapp/src/styles/lib-quote.scss
  projects/storefrontapp/src/styles/lib-storefinder.scss
Owners: @SAP/spartacus-global-owners

upgrade fortawesome/fontawesome-free and parse5
  package-lock.json
  package.json
  projects/schematics/package.json
  projects/schematics/src/dependencies.json
  projects/schematics/src/ng-add/__snapshots__/index_spec.ts.snap
  projects/storefrontstyles/package.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

draft implementation
  .env-cmdrc
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.html
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.ts
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.ts
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.ts
  feature-libs/user/account/styles/_verification-token-form.scss
  feature-libs/user/profile/assets/translations/en/userProfile.json
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.html
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/styles/_verification-token-form.scss
Owners: @SAP/spartacus-global-owners

fix pr issue
  feature-libs/user/profile/components/otp-login-register/otp-login-register.module.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.module.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.ts
Owners: @SAP/spartacus-global-owners

chore: altering CDC-B2C tests to accomodate recent changes in functionality
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cdc/b2c/b2c-scenarios.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/cdc/cdc.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8773: address comments
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.spec.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.spec.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.ts
  projects/storefrontlib/cms-structure/routing/default-routing-config.ts
Owners: @SAP/spartacus-global-owners

fix sonar issue
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.service.ts
Owners: @SAP/spartacus-global-owners

fix failing e2e
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/b2b-user-registration.ts
Owners: @SAP/spartacus-global-owners

fix pr issue
  feature-libs/user/profile/components/otp-login-register/otp-login-register.component.spec.ts
  feature-libs/user/profile/components/registration-verification-token-form/verify-register-verification-token-form.component.ts
  feature-libs/user/profile/styles/_verification-token-form.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9029) Tab. UI activates on receiving focus.
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-9029) Tab. UI activates on receiving focus.
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9005) fix ng-select options issue - <y of x> is conveyed twice
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.spec.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: add resource load-once capability
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
