Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

remove logs
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
Owners: @SAP/spartacus-global-owners

fix unit test and sonar
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
Owners: @SAP/spartacus-global-owners

fix issue not tab back work after ApprovalProcess
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8193) -Dropdown refocus on esc key press (#19453)
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/focus-management.e2e.cy.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.spec.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

unit test fix
  feature-libs/user/profile/components/register/register-component.service.spec.ts
  feature-libs/user/profile/components/register/register-component.service.ts
Owners: @SAP/spartacus-global-owners

fix(a11y): Prevent search label from being read twice
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-global-owners

config update
  integration-libs/opf/package.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: (CXSPA-8771) HCT Windows adjustments
  feature-libs/cart/base/styles/components/_item-counter.scss
  feature-libs/cart/base/styles/components/_mini-cart.scss
  projects/storefrontstyles/scss/components/content/navigation/_navigation-ui.scss
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
  projects/storefrontstyles/scss/components/product/list/_facet.scss
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
Owners: @SAP/spartacus-global-owners

fix: fix test by propagiating change in the unit-test
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: fix test by propagiating change in the unit-test
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: CXSPA-8759 test isolation issues
  feature-libs/product-configurator/rulebased/components/add-to-cart-button/configurator-add-to-cart-button.component.spec.ts
  feature-libs/product-configurator/rulebased/components/group-menu/configurator-group-menu.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: add FullPage-dynamicScript sub-pattern
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

fix: CXSPA-8759 test isolation issues
  feature-libs/product-configurator/rulebased/components/group-menu/configurator-group-menu.component.spec.ts
Owners: @SAP/spartacus-global-owners

update jsonparc
  package-lock.json
  package.json
Owners: @SAP/spartacus-global-owners

update package
  projects/schematics/package.json
Owners: @SAP/spartacus-global-owners

update
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-schematics-owners

update snapshot
  projects/schematics/src/ng-add/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-schematics-owners

format
  projects/schematics/package.json
Owners: @SAP/spartacus-global-owners

feat: Use tabs instead of radio group for pickup opti ons
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.html
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  feature-libs/cart/base/styles/components/_cart-item-list.scss
  feature-libs/pickup-in-store/assets/translations/en/pickupInStore.json
  feature-libs/pickup-in-store/components/container/cart-pickup-options-container/cart-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/container/pickup-option-dialog/pickup-option-dialog.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.html
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.spec.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.model.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.module.ts
  feature-libs/pickup-in-store/styles/_pickup-options.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/content/index.ts
  projects/storefrontlib/cms-components/content/tab/panel/tab-panel.component.html
  projects/storefrontlib/cms-components/content/tab/tab.component.html
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

feat: Use tabs instead of radio group for pickup options
  feature-libs/cart/base/components/cart-shared/cart-item-list/cart-item-list.component.ts
  projects/storefrontlib/cms-components/content/tab/panel/tab-panel.component.spec.ts
Owners: @SAP/spartacus-global-owners

feat: Use tabs instead of radio group for pickup opti ons
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.html
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  feature-libs/cart/base/components/cart-shared/cart-item-list/cart-item-list.component.ts
  feature-libs/cart/base/styles/components/_cart-item-list.scss
  feature-libs/pickup-in-store/assets/translations/en/pickupInStore.json
  feature-libs/pickup-in-store/components/container/cart-pickup-options-container/cart-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/container/pickup-option-dialog/pickup-option-dialog.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.html
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.spec.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.model.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.module.ts
  feature-libs/pickup-in-store/styles/_pickup-options.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/content/index.ts
  projects/storefrontlib/cms-components/content/tab/panel/tab-panel.component.html
  projects/storefrontlib/cms-components/content/tab/panel/tab-panel.component.spec.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.html
  projects/storefrontlib/cms-components/content/tab/tab.component.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

test: Fix failing e2e tests
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/focus-management.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8769) HCT themes adjustment to colors and incomplete areas (#19467)
  feature-libs/organization/administration/styles/_company-page-template.scss
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

place Delete button before Cancel button in Card Component
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

keep class in parent div
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8681) - Title attributes for icons without text present (#19480)
  feature-libs/asm/components/asm-bind-cart/asm-bind-cart.component.html
  feature-libs/asm/components/asm-main-ui/asm-main-ui.component.html
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/asm/customer-360/components/sections/asm-customer-360-customer-coupon/asm-customer-360-customer-coupon.component.html
  feature-libs/asm/customer-360/components/sections/asm-customer-360-map/asm-customer-360-map.component.html
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  feature-libs/organization/administration/components/shared/card/card.component.html
  feature-libs/organization/administration/components/shared/list/list.component.html
  feature-libs/organization/administration/components/unit/list/toggle-link/toggle-link-cell.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/filter/unit-level-order-history-filter.component.html
  feature-libs/pickup-in-store/components/container/pickup-items-details/pickup-items-details.component.html
  feature-libs/product-configurator/rulebased/components/attribute/header/configurator-attribute-header.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.html
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-filter/visual-picking-product-filter.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/compact-add-to-cart/compact-add-to-cart.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/compact-add-to-cart/compact-add-to-cart.module.ts
Owners: @SAP/spartacus-global-owners

remove narration of Upading Cart in AddedToCartDialog component
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

update test file
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

update with new title
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  projects/assets/src/translations/en/product.json
Owners: @SAP/spartacus-global-owners

remove Loading... narration
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
Owners: @SAP/spartacus-global-owners

update test and html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

add dialog narration to the end of title
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  projects/assets/src/translations/en/product.json
Owners: @SAP/spartacus-global-owners

update e2e tests
  projects/assets/src/translations/en/product.json
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/cart/cart.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-store-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/infinite-scroll.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
Owners: @SAP/spartacus-global-owners

update title of test case
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

feat: add guest mode for ApplePay
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
Owners: @SAP/spartacus-global-owners

test: Fix failing e2e tests (#19496)
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/focus-management.e2e.cy.ts
Owners: @SAP/spartacus-global-owners
