Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

rephrase
  projects/core/src/util/script-loader.service.spec.ts
Owners: @SAP/spartacus-core-owners

rename url paramneters
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/payment/root/model/opf-payment-verification.model.ts
Owners: @SAP/spartacus-global-owners

fix depreciations
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
Owners: @SAP/spartacus-global-owners

update config
  integration-libs/opf/base/root/config/default-opf-config.ts
  integration-libs/opf/base/root/config/opf-config.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
Owners: @SAP/spartacus-global-owners

remove key OPF_PAYMENT_SESSION_ID from body
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
Owners: @SAP/spartacus-global-owners

remove condition
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

update unit test
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
Owners: @SAP/spartacus-global-owners

improve
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

rename localstorage key
  integration-libs/opf/base/root/model/opf-metadata-store.model.ts
  integration-libs/opf/base/root/services/opf-metadata-state-persistence.service.spec.ts
  integration-libs/opf/base/root/services/opf-metadata-store.service.spec.ts
  integration-libs/opf/base/root/services/opf-metadata-store.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/payment/root/model/opf-payment-verification.model.ts
Owners: @SAP/spartacus-global-owners

rename to opfAfterRedirectFlag
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/payment/root/model/opf-payment-verification.model.ts
Owners: @SAP/spartacus-global-owners

Update product-carousel.component.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-global-owners

Revert "set feature toggle sciEnabled to default false (#19647)"
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

fix carousel unit test
  projects/storefrontlib/shared/components/carousel/carousel.component.spec.ts
Owners: @SAP/spartacus-global-owners

Revert "feature/CXCDS-12370 - DM- 281: Downstream - commerce site propagation to ISS - SPA component (#19385)"
  integration-libs/cds/src/cds.module.ts
  integration-libs/cds/src/config/default-cds-config.ts
  integration-libs/cds/src/config/profile-tag.config.ts
  integration-libs/cds/src/merchandising/adapters/strategy/cds-merchandising-strategy.adapter.spec.ts
  integration-libs/cds/src/merchandising/adapters/strategy/cds-merchandising-strategy.adapter.ts
  integration-libs/cds/src/profiletag/model/profile-tag.model.ts
  integration-libs/cds/src/profiletag/services/profiletag-event.service.spec.ts
  integration-libs/cds/src/recent-searches/recent-searches.component.spec.ts
  integration-libs/cds/src/schematics/add-cds/__snapshots__/index_spec.ts.snap
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/product/services/product-loading.service.ts
  projects/schematics/src/shared/lib-configs/integration-libs/cds-schematics-config.ts
  projects/storefrontapp/src/app/spartacus/features/cds/cds-feature.module.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-schematics-owners

CXCDS-13546: Removed code that was added by accident
  projects/core/src/product/services/product-loading.service.ts
Owners: @SAP/spartacus-core-owners

fix selected not announced
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

update component and test
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.spec.ts
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix sonarqube error
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

update using get method for ids
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

update using new function getLabel
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

remove unnecessary function ariaLabeledBy
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix content reads 2 times at once
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

replace div with ng-container
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9032) - Unit level order history truncated sorting options (#19654)
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

changes
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
Owners: @SAP/spartacus-global-owners

fix config
  integration-libs/opf/base/root/config/opf-config.ts
Owners: @SAP/spartacus-global-owners

fix: Use proper keybaord navigation keys for facets
  projects/storefrontlib/cms-components/product/product-list/product-facet-navigation/facet/facet.component.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.utils.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.utils.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

fix: add active language code to requests
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.spec.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.ts
  integration-libs/opf/base/root/services/opf-metadata-state-persistence.service.spec.ts
  integration-libs/opf/base/root/services/opf-metadata-state-persistence.service.ts
  integration-libs/opf/cta/opf-api/adapters/opf-api-cta.adapter.spec.ts
  integration-libs/opf/cta/opf-api/adapters/opf-api-cta.adapter.ts
  integration-libs/opf/payment/opf-api/adapters/opf-api-payment.adapter.spec.ts
  integration-libs/opf/payment/opf-api/adapters/opf-api-payment.adapter.ts
  integration-libs/opf/quick-buy/opf-api/adapters/opf-api-quick-buy.adapter.spec.ts
  integration-libs/opf/quick-buy/opf-api/adapters/opf-api-quick-buy.adapter.ts
Owners: @SAP/spartacus-global-owners

fix: Use proper keybaord navigation keys for facets (#19651)
  projects/storefrontlib/cms-components/product/product-list/product-facet-navigation/facet/facet.component.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.utils.spec.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.utils.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8989) CustomerService CloseRequestDialog add required asterisk (#19639)
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close-dialog/customer-ticketing-close-dialog.component.html
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close.module.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9063: Remove unnecessary visible text for screen-readers
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.module.ts
Owners: @SAP/spartacus-global-owners

fix typo
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
Owners: @SAP/spartacus-global-owners

remove unncessary works using feature flag
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
Owners: @SAP/spartacus-global-owners

Added catch block to handle error scenarios.
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.ts
Owners: @SAP/spartacus-core-owners

ACC 271.1 (Level A): Product Configuration _ Tab _ No 4-sided visible focus
  feature-libs/product-configurator/rulebased/styles/_configurator-group-menu.scss
Owners: @SAP/spartacus-global-owners

add style for active and focused states in SearchBoxComponent
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: make form required fields * red
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners

fix: fix prettier issue
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners

fix: Add required asterisks for permission form
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
Owners: @SAP/spartacus-global-owners

fix: Support increased letter-spacing for header
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontstyles/scss/components/layout/header/_header.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners
