Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

show label of select column
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.module.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CXSPA-8808: Rename UI element
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
Owners: @SAP/spartacus-global-owners

add tests
  projects/storefrontapp-e2e-cypress/cypress/helpers/checkout-flow.ts
Owners: @SAP/spartacus-global-owners

tests
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.spec.ts
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/checkout-flow.ts
Owners: @SAP/spartacus-global-owners

remove e2e check
  projects/storefrontapp-e2e-cypress/cypress/helpers/checkout-flow.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8880) HCT adjustments on test environment:
  projects/storefrontstyles/scss/layout/_index.scss
  projects/storefrontstyles/scss/layout/page-templates/_main.scss
Owners: @SAP/spartacus-global-owners

align label to the left side of the select column
  feature-libs/organization/order-approval/components/list/order-approval-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.ts
  feature-libs/organization/order-approval/styles/_order-approval-list.scss
Owners: @SAP/spartacus-global-owners

feat: enable feature toggle by default `cmsGuardsServiceUseGuardsComposer`
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-8880) HCT adjustments on test environment:
  projects/storefrontstyles/scss/components/layout/_storefront.scss
  projects/storefrontstyles/scss/layout/_index.scss
  projects/storefrontstyles/scss/layout/page-templates/_main.scss
Owners: @SAP/spartacus-global-owners

chore: Enable a11y toggles for 2412 release
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

Text formatting fixes while a11y text spacing is enabled
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
Owners: @SAP/spartacus-global-owners

Text formatting fixes while a11y text spacing is enabled
  feature-libs/asm/styles/components/_csagent-login-form.component.scss
  feature-libs/organization/administration/components/shared/list/list.component.ts
  feature-libs/organization/administration/styles/_list.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

a11yPasswordVisibilityBtnValueOverflow typo
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.ts
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.ts
  feature-libs/user/account/components/login-form/login-form.component.ts
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.ts
  feature-libs/user/profile/components/register/register.component.ts
  feature-libs/user/profile/components/reset-password/reset-password.component.ts
  feature-libs/user/profile/components/update-email/update-email.component.ts
  feature-libs/user/profile/components/update-password/my-account-v2-password.component.ts
  feature-libs/user/profile/components/update-password/update-password.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

a11yPasswordVisibilityBtnValueOverflow typo
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
Owners: @SAP/spartacus-global-owners

add JS Doc comments
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.ts
Owners: @SAP/spartacus-global-owners

better naming
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.ts
  integration-libs/opf/checkout/root/model/opf-checkout.model.ts
Owners: @SAP/spartacus-global-owners

update js comment for feature flag
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

review changes
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.ts
Owners: @SAP/spartacus-global-owners

fix down arrow not showing when select menu focused
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/misc/site-context-selector/site-context-selector.component.ts
  projects/storefrontlib/cms-components/misc/site-theme-switcher/site-theme-switcher.component.ts
  projects/storefrontstyles/scss/components/layout/header/_site-context-selector.scss
  projects/storefrontstyles/scss/components/misc/site-theme-switcher/_site-theme-switcher.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: add role button to order history component
  feature-libs/order/components/order-history/order-history.component.html
Owners: @SAP/spartacus-global-owners

fix: add role button to more component matching links with btn class
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/wish-list/components/add-to-wishlist/add-to-wish-list.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.html
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
  integration-libs/cdc/user-account/login-form/reconsent/cdc-reconsent.component.html
  integration-libs/s4-service/order/components/s4-service-order-detail-actions/s4-service-order-detail-actions.component.html
Owners: @SAP/spartacus-global-owners

improve accessibility using directive
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.ts
Owners: @SAP/spartacus-global-owners

imporve accessability
  feature-libs/organization/administration/components/unit/form/unit-form.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

remove unncessary part
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
Owners: @SAP/spartacus-global-owners

fix issue not tab back work after ApprovalProcess
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: address PR comments - style Get Directions link as link
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8880) HCT adjustments on test environment: (#19522)
  feature-libs/pickup-in-store/styles/_pickup-options.scss
  projects/storefrontstyles/scss/components/layout/_storefront.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

Text formatting fixes while a11y text spacing is enabled
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
Owners: @SAP/spartacus-global-owners

Text formatting fixes while a11y text spacing is enabled
  feature-libs/asm/styles/components/_csagent-login-form.component.scss
  feature-libs/organization/administration/components/shared/list/list.component.ts
  feature-libs/organization/administration/styles/_list.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: address PR comments - style Get Directions link as link
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: add * to b2b/b2c forms required fields missing them (#19506)
  feature-libs/cart/import-export/components/import-to-cart/import-entries-dialog/import-to-new-saved-cart-form/import-to-new-saved-cart-form.component.html
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
  feature-libs/checkout/base/components/checkout-billing-address/checkout-billing-address-form.component.html
  feature-libs/checkout/base/components/checkout-login/checkout-login.component.html
  feature-libs/checkout/base/components/checkout-place-order/checkout-place-order.component.html
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create-dialog/customer-ticketing-create-dialog.component.html
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create.module.ts
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.html
  feature-libs/organization/administration/components/budget/form/budget-form.component.html
  feature-libs/organization/administration/components/cost-center/form/cost-center-form.component.html
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/links/addresses/form/unit-address-form.component.html
  feature-libs/organization/administration/components/user-group/form/user-group-form.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/administration/components/user/form/user-form.component.html
  feature-libs/organization/user-registration/components/form/user-registration-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/profile/components/reset-password/reset-password.component.html
  integration-libs/s4-service/checkout/components/checkout-service-details/checkout-service-details.component.html
  integration-libs/s4-service/order/components/reschedule-service-order/reschedule-service-order.component.html
Owners: @SAP/spartacus-global-owners

support all patterns to with dynamic script
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

fix
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
Owners: @SAP/spartacus-global-owners

chore: Fix checkout review unit test
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address PR comments - enalbed for devs
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

fix: Billing address is not visible in order details
  integration-libs/opf/base/core/connectors/index.ts
  integration-libs/opf/base/core/connectors/opf-occ-order-normalizer.ts
  integration-libs/opf/base/root/model/index.ts
  integration-libs/opf/base/root/model/opf-order.model.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

fix opf e2e
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/opf/opf-billing-address.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/opf.ts
Owners: @SAP/spartacus-global-owners

Table column header narration improvement
  feature-libs/cart/saved-cart/components/list/saved-cart-list.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.module.ts
  feature-libs/order/components/return-request-list/order-return-request-list.component.html
  feature-libs/order/components/return-request-list/order-return-request-list.module.ts
  feature-libs/organization/account-summary/components/details/document/account-summary-document.component.html
  feature-libs/organization/account-summary/components/details/document/account-summary-document.module.ts
  feature-libs/organization/order-approval/components/details/order-detail-permission-results/order-detail-permission-results.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.module.ts
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.module.ts
  feature-libs/pdf-invoices/components/invoices-list/invoices-list.component.html
  feature-libs/pdf-invoices/components/pdf-invoices-components.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/my-interests/my-interests.component.html
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

refactor(opf): use Angular 'inject' function for DI instead of constructors
  integration-libs/opf/base/components/opf-error-modal/opf-error-modal.component.ts
  integration-libs/opf/base/components/opf-error-modal/opf-error-modal.service.ts
  integration-libs/opf/base/core/connectors/opf-base.connector.ts
  integration-libs/opf/base/core/facade/opf-base.service.ts
  integration-libs/opf/base/core/services/opf-endpoints.service.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.ts
  integration-libs/opf/base/root/events/opf-event.listener.ts
  integration-libs/opf/base/root/services/opf-metadata-state-persistence.service.ts
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.component.ts
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/cta/core/connectors/opf-cta.connector.ts
  integration-libs/opf/cta/core/facade/opf-cta.service.ts
  integration-libs/opf/cta/opf-api/adapters/opf-api-cta.adapter.ts
  integration-libs/opf/payment/core/connectors/opf-payment.connector.ts
  integration-libs/opf/payment/core/facade/opf-payment.service.ts
  integration-libs/opf/payment/core/services/opf-payment-error-handler.service.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.ts
  integration-libs/opf/payment/opf-api/adapters/opf-api-payment.adapter.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.component.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/quick-buy/core/connectors/opf-quick-buy.connector.ts
  integration-libs/opf/quick-buy/core/facade/opf-quick-buy.service.ts
  integration-libs/opf/quick-buy/opf-api/adapters/opf-api-quick-buy.adapter.ts
Owners: @SAP/spartacus-global-owners

refactor(cart,checkout): use Angular 'inject' function for DI instead of constructors - only in new classes added in this PR
  feature-libs/cart/base/core/connectors/access-code/cart-access-code.connector.ts
  feature-libs/cart/base/core/connectors/guest-user/cart-guest-user.connector.ts
  feature-libs/cart/base/core/facade/cart-access-code.service.ts
  feature-libs/cart/base/occ/adapters/occ-cart-access-code.adapter.ts
  feature-libs/checkout/base/components/services/checkout-flow-orchestrator.service.ts
  feature-libs/checkout/base/core/connectors/checkout-billing-address/checkout-billing-address.connector.ts
  feature-libs/checkout/base/core/facade/checkout-billing-address.service.ts
  feature-libs/checkout/base/occ/adapters/occ-checkout-billing-address.adapter.ts
Owners: @SAP/spartacus-global-owners
