Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1842085558
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1642650315
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640940143
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-billing-address-form/opf-checkout-billing-address-form.service.ts
Owners: @SAP/spartacus-global-owners

Add missing change to the template
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Show real time stock in PDP
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_details/show-real-time-stock-in-PDP.e2e-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

fix: remove obsolete constructor in opf-checkout-payment-and-review.component
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Format fix.
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8196) combobox cannot be dismissed using ‘ESC’
  feature-libs/asm/components/customer-list/customer-list.component.html
Owners: @SAP/spartacus-global-owners

test(checkout): fix broken unit tests of checkout-flow-orchestrator.service
  feature-libs/checkout/base/components/services/checkout-flow-orchestrator.service.spec.ts
Owners: @SAP/spartacus-global-owners

search product by category
  feature-libs/smartedit/root/config/default-smart-edit-config.ts
  projects/core/src/model/cms.model.ts
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/product/connectors/search/product-search.adapter.ts
  projects/core/src/product/connectors/search/product-search.connector.ts
  projects/core/src/product/facade/index.ts
  projects/core/src/product/facade/product-search-by-category.service.ts
  projects/core/src/product/facade/product-search.service.ts
  projects/core/src/product/store/actions/product-group.actions.ts
  projects/core/src/product/store/actions/product-search-by-category.action.ts
  projects/core/src/product/store/effects/index.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/core/src/product/store/product-state.ts
  projects/core/src/product/store/reducers/index.ts
  projects/core/src/product/store/selectors/product-group.selectors.ts
  projects/core/src/product/store/selectors/product-search-by-category.selectors.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: style Get Directions link as link (#19520)
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

changes
  integration-libs/opf/order/opf-occ-order-normalizer.spec.ts
Owners: @SAP/spartacus-global-owners

update product cat search
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

changes
  projects/storefrontapp/src/app/spartacus/features/order/order-wrapper.module.ts
Owners: @SAP/spartacus-global-owners

unit test fix
  feature-libs/cart/saved-cart/components/list/saved-cart-list.component.html
  feature-libs/organization/account-summary/components/details/document/account-summary-document.component.spec.ts
  feature-libs/pdf-invoices/components/invoices-list/invoices-list.component.spec.ts
Owners: @SAP/spartacus-global-owners

feat: add sri property to js and css resources
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

fix
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640930259 AND https://github.com/SAP/spartacus/pull/17250#discussion_r1640930696
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  projects/core/src/util/script-loader.service.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1642686857
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.spec.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

adjust unit test to cover branches
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640941948
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

revert
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1639557738
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.factory.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.factory.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640917012
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.factory.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.factory.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.component.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1642669656
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1642659682
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/observable/apple-pay-observable.factory.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1642696990
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
  integration-libs/opf/cta/core/services/opf-dynamic-cta.service.spec.ts
  integration-libs/opf/cta/core/services/opf-dynamic-cta.service.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.spec.ts
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
  integration-libs/opf/global-functions/root/facade/opf-global-functions.facade.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640913665
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/observable/apple-pay-observable.factory.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/observable/apple-pay-observable.factory.ts
  integration-libs/opf/quick-buy/root/model/opf-apple-pay.model.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640935216
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1639698548
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
  integration-libs/opf/payment/core/facade/opf-payment.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.ts
  integration-libs/opf/payment/root/model/opf-payment.model.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1762902542
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1640956362
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.component.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.ts
Owners: @SAP/spartacus-global-owners

chore: defaulting button
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Prettier fix
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address issues with My Account Menu underlaying EDIT buttons
  feature-libs/organization/administration/styles/_card.scss
Owners: @SAP/spartacus-global-owners

fix unit tests
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Show real time stock in PDP.
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.spec.ts
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/base/configurator-attribute-single-selection-base.component.spec.ts
  feature-libs/product-configurator/rulebased/components/service/configurator-storefront-utils.service.spec.ts
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/compact-add-to-cart/compact-add-to-cart.component.spec.ts
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/visual-picking-product-list.component.spec.ts
  projects/core/src/occ/adapters/product/index.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.spec.ts
  projects/core/src/occ/adapters/product/occ-product-availability-adapter.ts
  projects/core/src/occ/adapters/product/occ-product.adapter.spec.ts
  projects/core/src/occ/adapters/product/occ-product.adapter.ts
  projects/core/src/occ/adapters/product/product-occ.module.ts
  projects/core/src/product/connectors/product/index.ts
  projects/core/src/product/connectors/product/prduct-availability.adapter.ts
  projects/core/src/product/connectors/product/product-availability.connector.spec.ts
  projects/core/src/product/connectors/product/product-availability.connector.ts
  projects/core/src/product/connectors/product/product.adapter.ts
  projects/core/src/product/connectors/product/product.connector.spec.ts
  projects/core/src/product/connectors/product/product.connector.ts
  projects/core/src/product/facade/index.ts
  projects/core/src/product/facade/product-availability.service.spec.ts
  projects/core/src/product/facade/product-availability.service.ts
  projects/core/src/product/facade/product.service.spec.ts
  projects/core/src/product/facade/product.service.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_details/show-real-time-stock-in-PDP.e2e-flaky.cy.ts
  projects/storefrontlib/cms-components/product/current-product.service.spec.ts
  projects/storefrontlib/cms-components/product/current-product.service.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Address review comment https://github.com/SAP/spartacus/pull/17250#discussion_r1844653110
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session-wrapper.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session-wrapper.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.orchestrator.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.orchestrator.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/index.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/observable/index.ts
  integration-libs/opf/quick-buy/root/model/opf-apple-pay.model.ts
Owners: @SAP/spartacus-global-owners

Fix JSDoc
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay-session/apple-pay-session.orchestrator.ts
Owners: @SAP/spartacus-global-owners

update
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
