Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

chore: Update formErrorsDescriptiveMessages and shouldHideAddToCartForUnpurchasableProducts toggles value (#19776)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: move anonymous consent notification inside dialog (#19735)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.html
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consents-dialog.module.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: Adjust border for multi-selection-images component (#19752)
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9098)-Coupon Codes is used in Coupon Campaign URL (#19739)
  projects/assets/src/translations/en/myAccount.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/occ/adapters/user/default-occ-user-config.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/default-coupon-card-layout.config.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/index.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
  projects/storefrontlib/layout/launch-dialog/config/launch-config.ts
  projects/storefrontstyles/scss/components/myaccount/_index.scss
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9034) UnitLevelOrderHistory Truncation on applying text spacing settings (#19707)
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: disable tabbing for quick order search results list (#19742)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: failing anonymous-consents-flow e2e test (#19787)
  projects/storefrontapp-e2e-cypress/cypress/helpers/anonymous-consents.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8993) MiniCard component. Improve visible focus contrast on mobile (#19775)
  feature-libs/cart/base/components/mini-cart/mini-cart.component.ts
  feature-libs/cart/base/styles/components/_mini-cart.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Revert "chore: Add version to desc of minor release workflow" (#19792)
  .github/workflows/minor-release.yml
Owners: @SAP/spartacus-global-owners

fix: scroll to top visible if consents banner is displayed (#19755)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-management-banner.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: reset focus to the main after navigating (#19694)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/asm.emulation.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/asm.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/skip-link/service/skip-link.service.ts
  projects/storefrontlib/layout/main/storefront.component.spec.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: Absence of an email address during payment via Google Pay in OPF (#19768)
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

chore: Add version to desc of minor release workflow (#19321)
  .github/workflows/minor-release.yml
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9092) Read out group name when navigating with prev/next button (#19731)
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

fix: use role button for carousel slide indicators (#19790)
  projects/storefrontlib/shared/components/carousel/carousel.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9059) - Quick order searchbox refocus (#19695)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: add browser info data for OPF payment init
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

fix: allow for resetting to undefined parts of the config of the NgRx Transfer State (#19777)
  projects/core/src/state/config/state-config.ts
  projects/core/src/state/reducers/transfer-state.reducer.ts
  projects/core/src/state/utils/get-state-slice.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-9031) - Refocus on card after selecting (#19754)
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9028) - Search dropdown first option visible focus (#19741)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8991) set aria-label attribute for navigation component button (#19653)
  feature-libs/user/account/components/login/login.component.html
  feature-libs/user/account/components/login/login.component.spec.ts
  feature-libs/user/account/components/login/login.component.ts
  feature-libs/user/account/components/login/login.module.ts
  projects/assets/src/translations/en/common.json
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.spec.ts
  projects/storefrontlib/layout/a11y/index.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.spec.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.module.ts
  projects/storefrontlib/layout/a11y/on-dom-change/index.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9049) multiple UI elements theme visibility issues fix (#19791)
  feature-libs/pickup-in-store/styles/_set-preferred-store.scss
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
  projects/storefrontstyles/scss/components/product/_star-rating.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9046) FacetList Checkbox CC issue for Selected state in HCB theme (#19796)
  projects/storefrontstyles/scss/components/product/list/_facet-list.scss
  projects/storefrontstyles/scss/components/product/list/_facet.scss
Owners: @SAP/spartacus-global-owners

fix: CXSPA-8566 pickup bug fix (#19779)
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9045) Button_ Contrast issue in high contrast themes for Focus.
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
Owners: @SAP/spartacus-global-owners

unit fix
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.spec.ts
Owners: @SAP/spartacus-global-owners

remove btn exntends from administration lib
  feature-libs/organization/administration/components/budget/details-cell/budget-details-cell.component.html
  feature-libs/organization/administration/components/budget/details/budget-details.component.html
  feature-libs/organization/administration/components/cost-center/budgets/assigned/cost-center-assigned-budget-list.component.html
  feature-libs/organization/administration/components/cost-center/details-cell/cost-center-details-cell.component.html
  feature-libs/organization/administration/components/permission/details-cell/permission-details-cell.component.html
  feature-libs/organization/administration/components/permission/details/permission-details.component.html
  feature-libs/organization/administration/components/shared/card/card.component.html
  feature-libs/organization/administration/components/shared/detail/delete-item-action/delete-item.component.html
  feature-libs/organization/administration/components/shared/detail/toggle-status-action/toggle-status.component.html
  feature-libs/organization/administration/components/shared/form/form.component.html
  feature-libs/organization/administration/components/shared/list/list.component.html
  feature-libs/organization/administration/components/shared/message/confirmation/confirmation-message.component.html
  feature-libs/organization/administration/components/unit/details-cell/unit-details-cell.component.html
  feature-libs/organization/administration/components/unit/details/unit-details.component.html
  feature-libs/organization/administration/components/unit/links/addresses/details/unit-address-details.component.html
  feature-libs/organization/administration/components/unit/links/addresses/list/unit-address-list.component.html
  feature-libs/organization/administration/components/unit/links/approvers/assigned/unit-assigned-approver-list.component.html
  feature-libs/organization/administration/components/unit/links/approvers/unit-approver-list.component.html
  feature-libs/organization/administration/components/unit/links/children/unit-children.component.html
  feature-libs/organization/administration/components/unit/links/cost-centers/unit-cost-centers.component.html
  feature-libs/organization/administration/components/unit/links/users/list/unit-user-list.component.html
  feature-libs/organization/administration/components/unit/list/toggle-link/toggle-link-cell.component.html
  feature-libs/organization/administration/components/unit/list/unit-list.component.html
  feature-libs/organization/administration/components/user-group/details-cell/user-group-details-cell.component.html
  feature-libs/organization/administration/components/user-group/details/user-group-details.component.html
  feature-libs/organization/administration/components/user-group/permissions/user-group-permission-list.component.html
  feature-libs/organization/administration/components/user-group/users/assigned/user-group-assigned-user-list.component.html
  feature-libs/organization/administration/components/user-group/users/user-group-user-list.component.html
  feature-libs/organization/administration/components/user/approvers/assigned/user-assigned-approver-list.component.html
  feature-libs/organization/administration/components/user/approvers/user-approver-list.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/administration/components/user/details-cell/user-details-cell.component.html
  feature-libs/organization/administration/components/user/details/user-details.component.html
  feature-libs/organization/administration/components/user/permissions/assigned/user-assigned-permission-list.component.html
  feature-libs/organization/administration/components/user/permissions/user-permission-list.component.html
  feature-libs/organization/administration/components/user/user-groups/assigned/user-assigned-user-group-list.component.html
  feature-libs/organization/administration/components/user/user-groups/user-user-group-list.component.html
  feature-libs/organization/administration/styles/_buttons.scss
  feature-libs/organization/user-registration/styles/_user-registration-form.scss
  projects/storefrontapp/src/environments/environment.ts
Owners: @SAP/spartacus-global-owners

fix: use proper color text for future stock accordion
  feature-libs/product/future-stock/components/future-stock-accordion/future-stock-accordion.component.ts
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9045) Button_ Contrast issue in high contrast themes for Focus.
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
Owners: @SAP/spartacus-global-owners

Update _buttons.scss
  feature-libs/organization/administration/styles/_buttons.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8773: add tabing order e2e test
  projects/storefrontapp-e2e-cypress/cypress.config.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/user-registration/b2b-otp-registration-tabbing.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/accessibility/b2b/tabbing-order.config.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/b2b/b2b-user-registration.ts
Owners: @SAP/spartacus-global-owners

Update _user-registration-form.scss
  feature-libs/organization/user-registration/styles/_user-registration-form.scss
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.html
Owners: @SAP/spartacus-global-owners

chore: re-naming
  docs/migration/2211_ng18/typescript-manual.doc.md
  feature-libs/order/core/facade/my-account-v2-order-history.service.spec.ts
  feature-libs/order/core/facade/my-account-v2-order-history.service.ts
Owners: @SAP/spartacus-global-owners

rm btn classes from pick-up-in-store
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  projects/storefrontapp/src/environments/environment.ts
Owners: @SAP/spartacus-global-owners

update readme
  README.md
  projects/storefrontstyles/README.md
Owners: @SAP/spartacus-global-owners

prettier fix
  feature-libs/organization/administration/components/budget/details-cell/budget-details-cell.component.html
  feature-libs/organization/administration/components/cost-center/details-cell/cost-center-details-cell.component.html
  feature-libs/organization/administration/components/shared/form/form.component.html
  feature-libs/organization/administration/components/shared/message/confirmation/confirmation-message.component.html
  feature-libs/organization/administration/components/unit/details-cell/unit-details-cell.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/administration/styles/_buttons.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8773: add e2e test
  .env-cmdrc
  projects/storefrontapp-e2e-cypress/cypress.config.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/user-registration/b2b-otp-registration-e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/user-registration/b2b-otp-registration-tabbing-e2e-spec-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8773: revert unused change
  .env-cmdrc
  package.json
  projects/storefrontapp-e2e-cypress/cypress.config.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8773: revert unused change
  package.json
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
