Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

address book FeaturesConfigModule import fix
  feature-libs/user/profile/components/address-book/address-book.module.ts
Owners: @SAP/spartacus-global-owners

feat: (CXSPA-8032) - Change a into button for "Cancel Orders" and "Request a Return" #19306
  feature-libs/order/components/amend-order/amend-order-actions/amend-order-actions.component.html
  feature-libs/order/components/amend-order/amend-order-actions/amend-order-actions.module.ts
  feature-libs/order/components/order-details/order-detail-actions/order-detail-actions.component.html
  feature-libs/order/components/order-details/order-details.module.ts
  feature-libs/order/components/replenishment-order-details/replenishment-order-cancellation/replenishment-order-cancellation.component.html
  feature-libs/order/components/replenishment-order-details/replenishment-order-details.module.ts
  feature-libs/organization/order-approval/components/details/order-approval-detail-form/order-approval-detail-form.component.html
  feature-libs/organization/order-approval/components/details/order-approval-details.module.ts
  feature-libs/user/account/components/login-register/login-register.component.html
  feature-libs/user/account/components/login-register/login-register.module.ts
  feature-libs/user/profile/components/close-account/close-account.module.ts
  feature-libs/user/profile/components/close-account/components/close-account/close-account.component.html
  feature-libs/user/profile/components/forgot-password/forgot-password.component.html
  feature-libs/user/profile/components/forgot-password/forgot-password.module.ts
  feature-libs/user/profile/components/update-email/update-email.component.html
  feature-libs/user/profile/components/update-email/update-email.module.ts
  feature-libs/user/profile/components/update-password/update-password.component.html
  feature-libs/user/profile/components/update-password/update-password.module.ts
  feature-libs/user/profile/components/update-profile/update-profile.component.html
  feature-libs/user/profile/components/update-profile/update-profile.module.ts
Owners: @SAP/spartacus-global-owners

fix: fix prettier issues
  feature-libs/order/components/amend-order/amend-order-actions/amend-order-actions.module.ts
  feature-libs/organization/order-approval/components/details/order-approval-details.module.ts
  feature-libs/user/profile/components/forgot-password/forgot-password.module.ts
Owners: @SAP/spartacus-global-owners

fix: fix SonarQube issue
  feature-libs/order/components/order-details/order-details.module.ts
Owners: @SAP/spartacus-global-owners

fix: fix prettier issues
  feature-libs/order/components/order-details/order-details.module.ts
Owners: @SAP/spartacus-global-owners

fix(a11y): Focus outline visible for future stock accordion (#19459)
  feature-libs/product-configurator/common/styles/_configure-product.scss
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/layout/page-templates/_product-detail.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

b2b-order-approval e2e fix
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/order-approval/b2b-order-approval.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

fix selected not announced
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

add opf GP key in config
  scripts/install/config.default.sh
Owners: @SAP/spartacus-global-owners

add comment
  scripts/install/config.opf.sh
Owners: @SAP/spartacus-global-owners

remove unused config
  scripts/install/config.opf.sh
Owners: @SAP/spartacus-global-owners

improve accessibility
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.module.ts
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.html
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.ts
  integration-libs/opf/checkout/styles/components/_opf-checkout-payment-and-review.scss
  integration-libs/opf/checkout/styles/components/_opf-checkout-payments.scss
Owners: @SAP/spartacus-global-owners

Removed repeated searchbox assistive message
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

missing toggle
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix build error
  integration-libs/opf/quick-buy/root/config/default-opf-quick-buy-config.ts
Owners: @SAP/spartacus-global-owners

fix: display error message when resource loading fails
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8962 Review feedback
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_configurator/product-configurator-vc-cart.e2e-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-configurator-cart.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-7992) Store 'In Stock' icon contrast
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  feature-libs/pickup-in-store/components/presentational/store/store.component.ts
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  feature-libs/pickup-in-store/styles/_store.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-7992) Store, MyPreferredStoreComponent 'In Stock' icon contrast
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  feature-libs/pickup-in-store/components/presentational/store/store.component.ts
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  feature-libs/pickup-in-store/styles/_store.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CR changes
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-global-owners

remove module caching
  .github/workflows/ci-continuous-integration.yml
Owners: @SAP/spartacus-global-owners

remove additional tests
  .github/workflows/ci-continuous-integration.yml
Owners: @SAP/spartacus-global-owners

trigger
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.spec.ts
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  projects/storefrontstyles/scss/components/misc/card/_card.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/pickup-in-store/assets/translations/en/pickupInStore.json
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.spec.ts
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.spec.ts
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
  projects/storefrontlib/shared/components/card/card.module.ts
  projects/storefrontstyles/scss/components/misc/card/_card.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  projects/storefrontstyles/scss/components/misc/card/_card.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8813) B2C button My Store not properly styled
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

update component and test
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.spec.ts
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

disable suspect tests
  projects/storefrontlib/cms-components/content/paragraph/paragraph.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix sonarqube error
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix: update password validation with new min max password length
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.ts
  feature-libs/user/profile/components/register/register.component.ts
  feature-libs/user/profile/components/reset-password/reset-password-component.service.ts
  feature-libs/user/profile/components/update-password/update-password-component.service.ts
  projects/assets/src/translations/en/common.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/util/regex-pattern.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/utils/validators/custom-form-validators.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8813) B2C button My Store not properly styled V2 (#19598)
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/pickup-in-store/assets/translations/en/pickupInStore.json
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.spec.ts
  feature-libs/pickup-in-store/components/container/my-preferred-store/my-preferred-store.component.ts
  feature-libs/pickup-in-store/styles/_my-preferred-store.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.spec.ts
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
  projects/storefrontlib/shared/components/card/card.module.ts
  projects/storefrontstyles/scss/components/misc/card/_card.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

update unit tests
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.spec.ts
  feature-libs/user/profile/components/register/register.component.spec.ts
  feature-libs/user/profile/components/reset-password/reset-password-component.service.spec.ts
  feature-libs/user/profile/components/update-password/update-password-component.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-7992) Store, MyPreferredStoreComponent 'In Stock' icon contrast (#19617)
  feature-libs/pickup-in-store/components/presentational/store/store.component.ts
  feature-libs/pickup-in-store/styles/_store.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners
