Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

fix: (CXSPA-9041) Popover directive HCT contrast
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

Update _image.scss
  projects/storefrontstyles/vendor/bootstrap/scss/mixins/_image.scss
Owners: @SAP/spartacus-global-owners

Update _image.scss
  projects/storefrontstyles/vendor/bootstrap/scss/mixins/_image.scss
Owners: @SAP/spartacus-global-owners

Update index_spec.ts.snap
  projects/schematics/src/ng-add/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-schematics-owners

fix(generate-translations-ts-2-json): workaround to not use translations object, to prevent dependency on @spartacus/core
  projects/assets/generate-translations-ts-2-json.ts
Owners: @SAP/spartacus-global-owners

fix(assets): in tsconfig.lib.json update paths for @spartacus/core to point to public_api in the dev tsconfig. But use /dist in tsconfig.lib.prod.json
  projects/assets/tsconfig.lib.json
  projects/assets/tsconfig.lib.prod.json
Owners: @SAP/spartacus-global-owners

refactor(storefrontapp): use the new approach (with explicit langauges being imported) in feature modules
  projects/storefrontapp/src/app/app.module.ts
  projects/storefrontapp/src/app/spartacus/features/asm/asm-customer-360-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/asm/asm-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cart/cart-base-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cart/cart-import-export-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cart/cart-quick-order-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cart/cart-saved-cart-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cart/wish-list-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cdc/cdc-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cds/cds-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/checkout/checkout-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/cpq-quote/cpq-quote-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/customer-ticketing/customer-ticketing-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/digital-payments/digital-payments-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/epd-visualization/epd-visualization-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/estimated-delivery-date/estimated-delivery-date-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/order/order-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/organization/organization-account-summary-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/organization/organization-administration-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/organization/organization-order-approval-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/organization/organization-unit-order-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/pdf-invoices/pdf-invoices-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/pickup-in-store/pickup-in-store-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product-configurator/product-configurator-rulebased-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product-configurator/product-configurator-textfield-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product-multi-dimensional/product-multi-dimensional-selector-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product/product-bulk-pricing-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product/product-future-stock-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product/product-image-zoom-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/product/product-variants-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/quote-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/registration-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/requested-delivery-date/requested-delivery-date-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/s4-service/s4-service-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/s4om/s4om-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/storefinder/storefinder-feature.module.ts
  projects/storefrontapp/src/app/spartacus/features/user/user-feature.module.ts
Owners: @SAP/spartacus-global-owners

Revert "fix(assets): in tsconfig.lib.json update paths for @spartacus/core to point to public_api in the dev tsconfig. But use /dist in tsconfig.lib.prod.json"
  projects/assets/tsconfig.lib.json
  projects/assets/tsconfig.lib.prod.json
Owners: @SAP/spartacus-global-owners

rename and add comment
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

reformat conditions
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

remove condition
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8772:fix lable to remove optional
  feature-libs/organization/user-registration/assets/translations/en/userRegistration.json
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8772:draft
  feature-libs/organization/user-registration/assets/translations/en/userRegistration.json
  feature-libs/organization/user-registration/components/otp-form/index.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.html
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.module.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.service.ts
  feature-libs/organization/user-registration/components/public_api.ts
  feature-libs/organization/user-registration/components/user-registration-components.module.ts
  feature-libs/organization/user-registration/root/model/user-registration.model.ts
  feature-libs/organization/user-registration/root/user-registration-root.module.ts
  feature-libs/user/account/assets/translations/en/userAccount.json
  feature-libs/user/account/components/public_api.ts
  feature-libs/user/account/components/register-verification-token-form/index.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form-component.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.html
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.module.ts
  feature-libs/user/account/components/user-account-component.module.ts
  feature-libs/user/account/components/user-account-constants.ts
  feature-libs/user/account/root/model/otp-login.model.ts
  feature-libs/user/account/root/user-account-root.module.ts
  package.json
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-structure/routing/default-routing-config.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8772:finish funciton development
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form-component.service.ts
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.html
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
  projects/assets/src/translations/en/common.json
Owners: @SAP/spartacus-global-owners

CXSPA-8772:fix lable to remove optional
  feature-libs/organization/user-registration/assets/translations/en/userRegistration.json
  feature-libs/user/account/components/register-verification-token-form/register-verification-token-form.component.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8773: move files from account to orgnization
  feature-libs/organization/user-registration/components/otp-form/index.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.module.ts
  feature-libs/organization/user-registration/components/otp-form/user-registration-otp-form.service.ts
  feature-libs/organization/user-registration/components/public_api.ts
  feature-libs/organization/user-registration/components/register-verification-token-form/index.ts
  feature-libs/organization/user-registration/components/register-verification-token-form/register-verification-token-form-component.service.ts
  feature-libs/organization/user-registration/components/register-verification-token-form/register-verification-token-form.component.html
  feature-libs/organization/user-registration/components/register-verification-token-form/register-verification-token-form.component.ts
  feature-libs/organization/user-registration/components/register-verification-token-form/register-verification-token-form.module.ts
  feature-libs/organization/user-registration/components/user-registration-components.module.ts
  feature-libs/organization/user-registration/components/user-registration-constants.ts
  feature-libs/organization/user-registration/root/user-registration-root.module.ts
  feature-libs/user/account/components/public_api.ts
  feature-libs/user/account/components/user-account-component.module.ts
  package.json
Owners: @SAP/spartacus-global-owners

CXSPA-8773: format code
  feature-libs/organization/user-registration/components/public_api.ts
  feature-libs/organization/user-registration/components/register-verification-token-form/index.ts
  feature-libs/organization/user-registration/components/registration-otp-form/index.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.html
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.module.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.service.ts
  feature-libs/organization/user-registration/components/user-registration-components.module.ts
  feature-libs/organization/user-registration/components/verification-token-form/index.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form-component.service.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.html
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.module.ts
  feature-libs/organization/user-registration/root/user-registration-root.module.ts
  feature-libs/user/account/root/user-account-root.module.ts
  feature-libs/user/account/styles/_verification-token-form.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8773: remove service
  feature-libs/organization/user-registration/components/registration-otp-form/index.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.module.ts
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.service.ts
Owners: @SAP/spartacus-global-owners

test(schematics): update snapshots to use new approach `i18n: { resources: { en: xxxTranslationsEn } }`
  feature-libs/asm/schematics/add-asm/__snapshots__/index_spec.ts.snap
  feature-libs/cart/schematics/add-cart/__snapshots__/index_spec.ts.snap
  feature-libs/checkout/schematics/add-checkout/__snapshots__/index_spec.ts.snap
  feature-libs/customer-ticketing/schematics/add-customer-ticketing/__snapshots__/index_spec.ts.snap
  feature-libs/estimated-delivery-date/schematics/add-estimated-delivery-date/__snapshots__/index_spec.ts.snap
  feature-libs/order/schematics/add-order/__snapshots__/index_spec.ts.snap
  feature-libs/organization/schematics/add-organization/__snapshots__/index_spec.ts.snap
  feature-libs/pickup-in-store/schematics/add-pickup-in-store/__snapshots__/index_spec.ts.snap
  feature-libs/product-configurator/schematics/add-product-configurator/__snapshots__/index_spec.ts.snap
  feature-libs/product-multi-dimensional/schematics/add-product-multi-dimensional/__snapshots__/index_spec.ts.snap
  feature-libs/product/schematics/add-product/__snapshots__/index_spec.ts.snap
  feature-libs/quote/schematics/add-quote/__snapshots__/index_spec.ts.snap
  feature-libs/storefinder/schematics/add-storefinder/__snapshots__/index_spec.ts.snap
  feature-libs/user/schematics/add-user/__snapshots__/index_spec.ts.snap
  integration-libs/cdc/schematics/add-cdc/__snapshots__/index_spec.ts.snap
  integration-libs/cds/src/schematics/add-cds/__snapshots__/index_spec.ts.snap
  integration-libs/cpq-quote/schematics/add-cpq-quote/__snapshots__/index_spec.ts.snap
  integration-libs/digital-payments/schematics/add-digital-payments/__snapshots__/index_spec.ts.snap
  integration-libs/epd-visualization/schematics/add-epd-visualization/__snapshots__/index_spec.ts.snap
  integration-libs/s4-service/schematics/add-s4-service/__snapshots__/index_spec.ts.snap
  integration-libs/s4om/schematics/add-s4om/__snapshots__/index_spec.ts.snap
  projects/schematics/src/shared/utils/__snapshots__/feature-utils_spec.ts.snap
  projects/schematics/src/shared/utils/__snapshots__/lib-utils_spec.ts.snap
  projects/schematics/src/wrapper-module/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix style issues of admin for highContrastTheme
  feature-libs/organization/administration/styles/_list.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/popover/popover.directive.ts
  projects/storefrontstyles/scss/components/misc/popover/_popover.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

disable useSiteThemeService
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

improve condition
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9041) Popover directive HCT contrast
  projects/storefrontlib/shared/components/popover/popover.directive.ts
Owners: @SAP/spartacus-global-owners

resolve 'dialog' is conveyed twice in ConsentManagementDialog
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9005) fix ng-select options issue - <y of x> is conveyed twice
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.spec.ts
  projects/storefrontlib/shared/components/ng-select-a11y/ng-select-a11y.directive.ts
Owners: @SAP/spartacus-global-owners

changes based on comment
  projects/assets/src/translations/en/common.json
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
Owners: @SAP/spartacus-global-owners

Revert "fix: elevate scroll to top button when overlaps with banner (CXSPA-9067)" (#19749)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.html
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.spec.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.ts
  projects/storefrontstyles/scss/components/content/navigation/_scroll-to-top.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

chore: release 2211.32.0 (#19751)
  core-libs/setup/package.json
  feature-libs/asm/package.json
  feature-libs/cart/package.json
  feature-libs/checkout/package.json
  feature-libs/customer-ticketing/package.json
  feature-libs/estimated-delivery-date/package.json
  feature-libs/order/package.json
  feature-libs/organization/package.json
  feature-libs/pdf-invoices/package.json
  feature-libs/pickup-in-store/package.json
  feature-libs/product-configurator/package.json
  feature-libs/product-multi-dimensional/package.json
  feature-libs/product/package.json
  feature-libs/qualtrics/package.json
  feature-libs/quote/package.json
  feature-libs/requested-delivery-date/package.json
  feature-libs/smartedit/package.json
  feature-libs/storefinder/package.json
  feature-libs/tracking/package.json
  feature-libs/user/package.json
  integration-libs/cdc/package.json
  integration-libs/cdp/package.json
  integration-libs/cds/package.json
  integration-libs/cpq-quote/package.json
  integration-libs/digital-payments/package.json
  integration-libs/epd-visualization/package.json
  integration-libs/omf/package.json
  integration-libs/opf/package.json
  integration-libs/opps/package.json
  integration-libs/s4-service/package.json
  integration-libs/s4om/package.json
  integration-libs/segment-refs/package.json
  projects/assets/package.json
  projects/core/package.json
  projects/schematics/package.json
  projects/schematics/src/dependencies.json
  projects/ssr-tests/package.json
  projects/storefrontlib/package.json
  projects/storefrontstyles/package.json
  tools/config/const.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

feat: Modify Product Carousel component behaviour to add all products from a category (#19576)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/model/cms.model.ts
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/product/connectors/search/product-search.adapter.ts
  projects/core/src/product/connectors/search/product-search.connector.spec.ts
  projects/core/src/product/connectors/search/product-search.connector.ts
  projects/core/src/product/facade/index.ts
  projects/core/src/product/facade/product-search-by-category.service.spec.ts
  projects/core/src/product/facade/product-search-by-category.service.ts
  projects/core/src/product/facade/product-search.service.ts
  projects/core/src/product/model/product-scope.ts
  projects/core/src/product/store/actions/product-group.actions.ts
  projects/core/src/product/store/actions/product-search-by-category.action.spec.ts
  projects/core/src/product/store/actions/product-search-by-category.action.ts
  projects/core/src/product/store/effects/index.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.spec.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/core/src/product/store/product-state.ts
  projects/core/src/product/store/reducers/index.ts
  projects/core/src/product/store/selectors/product-group.selectors.ts
  projects/core/src/product/store/selectors/product-search-by-category.selectors.spec.ts
  projects/core/src/product/store/selectors/product-search-by-category.selectors.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.spec.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Defaulting feature toggle (#19778)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-9025) - Add style for active and focused states in SearchBoxComponent (#19680)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.module.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/components/layout/_storefront.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-9080) - Hide 'Consent Management' button when cookies banner is visible and ensure clear visible focus for accessibility (#19728)
  projects/assets/src/translations/en/user.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/anonymous-consent-management.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.html
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.spec.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-open-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: Absence of an email address during payment via Google Pay in OPF (#19768)
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

chore: Enable December 2024 A11Y Feature Toggles (#19780)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

revert: "fix: a11yPasswordVisibilityBtnValueOverflow typo (#19531)" (#19756)
  feature-libs/asm/components/csagent-login-form/csagent-login-form.component.ts
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.ts
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.ts
  feature-libs/user/account/components/login-form/login-form.component.ts
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.ts
  feature-libs/user/profile/components/register/register.component.ts
  feature-libs/user/profile/components/reset-password/reset-password.component.ts
  feature-libs/user/profile/components/update-email/update-email.component.ts
  feature-libs/user/profile/components/update-password/my-account-v2-password.component.ts
  feature-libs/user/profile/components/update-password/update-password.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9034) UnitLevelOrderHistory Truncation on applying text spacing settings (#19707)
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

chore: add additional test cases to reset password component service (#19740)
  feature-libs/user/karma.conf.js
  feature-libs/user/profile/components/reset-password/reset-password-component.service.spec.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: allow for extending HttpErrorHandlerInterceptor (#19724)
  projects/core/src/error-handling/http-error-handler/http-error-handler.interceptor.ts
  projects/core/src/error-handling/http-error-handler/http-error-handler.module.ts
Owners: @SAP/spartacus-core-owners

fix: disable tabbing for quick order search results list (#19742)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items. (#19678)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/skip-focus-header-items-mobile.e2e.cy.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
