Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

fix: (CXSPA-9091) Fix invalid aria-label at span tag (#19722)
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.html
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.spec.ts
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.html
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9092) Read out group name when navigating with prev/next button (#19731)
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

fix: scroll to top visible if consents banner is displayed (#19755)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/banner/anonymous-consent-management-banner.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-management-banner.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-9079) - Cropped focus ring in product image zoom component (#19730)
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.ts
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: failing anonymous-consents-flow e2e test (#19787)
  projects/storefrontapp-e2e-cypress/cypress/helpers/anonymous-consents.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8993) MiniCard component. Improve visible focus contrast on mobile (#19775)
  feature-libs/cart/base/components/mini-cart/mini-cart.component.ts
  feature-libs/cart/base/styles/components/_mini-cart.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: move anonymous consent notification inside dialog (#19735)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/consent-management/components/consent-form/consent-management-form.component.ts
  projects/storefrontlib/cms-components/myaccount/my-account-v2/my-account-v2-consent-management/components/consent-form/my-account-v2-consent-management-form.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.html
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.spec.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consent-dialog.component.ts
  projects/storefrontlib/shared/components/anonymous-consents-dialog/anonymous-consents-dialog.module.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

chore: Update formErrorsDescriptiveMessages and shouldHideAddToCartForUnpurchasableProducts toggles value (#19776)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: reset focus to the main after navigating (#19694)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/asm.emulation.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/asm.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/skip-link/service/skip-link.service.ts
  projects/storefrontlib/layout/main/storefront.component.spec.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: (CXSPA-9043) account summaries inputs border visibility fix (#19785)
  feature-libs/organization/account-summary/styles/components/_cx-account-summary-document-filter.scss
Owners: @SAP/spartacus-global-owners

fix: Adjust border for multi-selection-images component (#19752)
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9059) - Quick order searchbox refocus (#19695)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Revert "chore: Add version to desc of minor release workflow" (#19792)
  .github/workflows/minor-release.yml
Owners: @SAP/spartacus-global-owners

chore: Adjust js doc for useExtendedMediaComponentConfiguration (#19454)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

chore: Add version to desc of minor release workflow (#19321)
  .github/workflows/minor-release.yml
Owners: @SAP/spartacus-global-owners

fix: use role button for carousel slide indicators (#19790)
  projects/storefrontlib/shared/components/carousel/carousel.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9098)-Coupon Codes is used in Coupon Campaign URL (#19739)
  projects/assets/src/translations/en/myAccount.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/occ/adapters/user/default-occ-user-config.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/coupons/my-coupons.e2e-spec-flaky.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/default-coupon-card-layout.config.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/index.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
  projects/storefrontlib/layout/launch-dialog/config/launch-config.ts
  projects/storefrontstyles/scss/components/myaccount/_index.scss
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: add browser info data for OPF payment init
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
Owners: @SAP/spartacus-global-owners

Update my-account-v2-order-history.service.spec.ts
  feature-libs/order/core/facade/my-account-v2-order-history.service.spec.ts
Owners: @SAP/spartacus-global-owners

chore: License header year update (#19812)
  projects/core/src/product/facade/product-search-by-category.service.ts
  projects/core/src/product/store/actions/product-search-by-category.action.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/core/src/product/store/selectors/product-search-by-category.selectors.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/skip-focus-header-items-mobile.e2e.cy.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: CXSPA-8566 pickup bug fix (#19779)
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
Owners: @SAP/spartacus-global-owners

chore: linting
  feature-libs/order/core/facade/my-account-v2-order-history.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: allow for resetting to undefined parts of the config of the NgRx Transfer State (#19777)
  projects/core/src/state/config/state-config.ts
  projects/core/src/state/reducers/transfer-state.reducer.ts
  projects/core/src/state/utils/get-state-slice.ts
Owners: @SAP/spartacus-core-owners

chore: code changes
  feature-libs/order/core/facade/my-account-v2-order-history.service.spec.ts
  feature-libs/order/core/facade/my-account-v2-order-history.service.ts
Owners: @SAP/spartacus-global-owners

chore: Update open-sans, jsonc-parser, tslib deps (#19798)
  core-libs/setup/package.json
  feature-libs/asm/package.json
  feature-libs/cart/package.json
  feature-libs/checkout/package.json
  feature-libs/customer-ticketing/package.json
  feature-libs/estimated-delivery-date/package.json
  feature-libs/order/package.json
  feature-libs/organization/package.json
  feature-libs/pdf-invoices/package.json
  feature-libs/pickup-in-store/package.json
  feature-libs/product-configurator/package.json
  feature-libs/product-multi-dimensional/package.json
  feature-libs/product/package.json
  feature-libs/qualtrics/package.json
  feature-libs/quote/package.json
  feature-libs/requested-delivery-date/package.json
  feature-libs/smartedit/package.json
  feature-libs/storefinder/package.json
  feature-libs/tracking/package.json
  feature-libs/user/package.json
  integration-libs/cdc/package.json
  integration-libs/cdp/package.json
  integration-libs/cds/package.json
  integration-libs/cpq-quote/package.json
  integration-libs/digital-payments/package.json
  integration-libs/epd-visualization/package.json
  integration-libs/omf/package.json
  integration-libs/opf/package.json
  integration-libs/opps/package.json
  integration-libs/s4-service/package.json
  integration-libs/s4om/package.json
  integration-libs/segment-refs/package.json
  package-lock.json
  projects/assets/package.json
  projects/core/package.json
  projects/schematics/package.json
  projects/schematics/src/dependencies.json
  projects/ssr-tests/package.json
  projects/storefrontlib/package.json
  projects/storefrontstyles/package.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: (CXSPA-9028) - Search dropdown first option visible focus (#19741)
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8991) set aria-label attribute for navigation component button (#19653)
  feature-libs/user/account/components/login/login.component.html
  feature-libs/user/account/components/login/login.component.spec.ts
  feature-libs/user/account/components/login/login.component.ts
  feature-libs/user/account/components/login/login.module.ts
  projects/assets/src/translations/en/common.json
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.spec.ts
  projects/storefrontlib/layout/a11y/index.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.spec.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.directive.ts
  projects/storefrontlib/layout/a11y/on-dom-change/dom-change.module.ts
  projects/storefrontlib/layout/a11y/on-dom-change/index.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9049) multiple UI elements theme visibility issues fix (#19791)
  feature-libs/pickup-in-store/styles/_set-preferred-store.scss
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
  projects/storefrontstyles/scss/components/product/_star-rating.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9031) - Refocus on card after selecting (#19754)
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/services/select-focus.util.spec.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9046) FacetList Checkbox CC issue for Selected state in HCB theme (#19796)
  projects/storefrontstyles/scss/components/product/list/_facet-list.scss
  projects/storefrontstyles/scss/components/product/list/_facet.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8773: add ut
  feature-libs/organization/user-registration/components/registration-otp-form/user-registration-otp-form.component.spec.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form-component.service.spec.ts
  feature-libs/organization/user-registration/components/verification-token-form/verification-token-form.component.spec.ts
Owners: @SAP/spartacus-global-owners

chore: changes
  docs/migration/2211_ng18/typescript-manual.doc.md
  feature-libs/order/core/facade/my-account-v2-order-history.service.spec.ts
  feature-libs/order/core/facade/my-account-v2-order-history.service.ts
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.html
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.spec.ts
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.ts
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9045) Button_ Contrast issue in high contrast themes for Focus.
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
Owners: @SAP/spartacus-global-owners

chore(installation script): use BRANCH=develop , when installing from sources (#19783)
  scripts/install/config.default.sh
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9079) - Cropped focus ring in product image zoom component (#19730)
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.ts
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9043) account summaries inputs border visibility fix (#19785)
  feature-libs/organization/account-summary/styles/components/_cx-account-summary-document-filter.scss
Owners: @SAP/spartacus-global-owners

chore: Adjust js doc for useExtendedMediaComponentConfiguration (#19454)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-9091) Fix invalid aria-label at span tag (#19722)
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.html
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.spec.ts
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.html
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9021) Button Menu Focus not looped within the menu items. (#19678)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/skip-focus-header-items-mobile.e2e.cy.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/index.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/keyboard-focus.module.ts
  projects/storefrontlib/layout/a11y/keyboard-focus/skip-focus.directive.ts
  projects/storefrontlib/layout/main/storefront.component.html
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners
