Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

fix one of the sides of the focus is placed out of the dialog in CustomerTicketingDialogs
  feature-libs/customer-ticketing/components/shared/customer-ticketing-dialog/customer-ticketing-dialog.component.ts
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-dialog.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

update work using a11yExpandedFocusIndicator
  feature-libs/customer-ticketing/components/shared/customer-ticketing-dialog/customer-ticketing-dialog.component.ts
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-dialog.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: remove aria-label to have label text read out
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9026) make cx-banner focus visible for all 4 sides
  projects/storefrontstyles/scss/components/content/banner/_banner.scss
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9038) add label to store finder search input
  feature-libs/storefinder/assets/translations/en/storeFinder.json
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

fix: fix PR review - use a11yStoreFinderLabel feature flag to control this feature
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: fixing prettier issue
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

fix: remove unused class attribute
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

fix: remove aria-label to have label text read out
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

CXCDS-13427: Fixed failing e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cds/profile-tag/custom-headers.core-e2e.cy.ts
Owners: @SAP/spartacus-global-owners

fix: elevate scroll to top button when overlaps with banner
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.html
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.spec.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.ts
  projects/storefrontstyles/scss/components/content/navigation/_scroll-to-top.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

add more UTs
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix the issue where the focus only covers three sides of the 'Previous slide' and 'Next slide' buttons within the carousel section
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: resolved the issue of infinite loading in SmartEdit when accessing the PDP
  feature-libs/product-multi-dimensional/selector/components/guards/product-multi-dimensional-selector.guard.ts
Owners: @SAP/spartacus-global-owners

test: fix failing consignment-tracking e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/consignment-tracking/consignment-tracking.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9091: Fix invalid aria-label at span tag
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.html
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.spec.ts
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.html
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9073) Fix tooltip for image attributes (#19709)
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.spec.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: allow for extending HttpErrorHandlerModule
  projects/core/src/error-handling/http-error-handler/http-error-handler.interceptor.ts
  projects/core/src/error-handling/http-error-handler/http-error-handler.module.ts
Owners: @SAP/spartacus-core-owners

update style of storefront
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/components/layout/_storefront.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

run prettier fix
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cds/profile-tag/custom-headers.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/cds/merchandising-carousel.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9102: export captchaService
  projects/storefrontlib/shared/components/captcha/index.ts
Owners: @SAP/spartacus-global-owners

add aria-label for the buttons in ProductImageZoomView
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
Owners: @SAP/spartacus-global-owners

fix the issue where the focus only covers three sides of the 'Previous slide' and 'Next slide' buttons within the carousel section
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/carousel/carousel.component.ts
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

resolve test error
  feature-libs/product/image-zoom/assets/translations/en/productImageZoom.json
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.spec.ts
Owners: @SAP/spartacus-global-owners

Align 'Consent Management' button to center and ensure clear visible focus for accessibility
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/anonymous-consent-management/open-dialog/anonymous-consent-open-dialog.component.ts
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-open-dialog.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

add unit tests
  feature-libs/product-multi-dimensional/selector/components/guards/product-multi-dimensional-selector.guard.spec.ts
Owners: @SAP/spartacus-global-owners

remove unneccessary part
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
Owners: @SAP/spartacus-global-owners

cropped focus ring in product image zoom component
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.ts
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CXSPA-9092: Read out group name when navigating with prev/next button
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.html
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.spec.ts
  feature-libs/product-configurator/rulebased/components/previous-next-buttons/configurator-previous-next-buttons.component.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.spec.ts
  feature-libs/product-configurator/rulebased/core/facade/configurator-groups.service.ts
Owners: @SAP/spartacus-global-owners

add aria-label for the buttons in ProductImageZoomView
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
Owners: @SAP/spartacus-global-owners

resolve test error
  feature-libs/product/image-zoom/assets/translations/en/productImageZoom.json
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.spec.ts
Owners: @SAP/spartacus-global-owners

remove unneccessary part
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.html
Owners: @SAP/spartacus-global-owners

CXSPA-9091: Fix invalid aria-label at span tag
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.html
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.spec.ts
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.html
  feature-libs/product-configurator/rulebased/components/show-more/configurator-show-more.component.spec.ts
Owners: @SAP/spartacus-global-owners

added visual focus exceptions
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
Owners: @SAP/spartacus-global-owners

Quick order searchbox refocus
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CR changes
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
Owners: @SAP/spartacus-global-owners

resolve the issues for mobile
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

resolve lint error
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

cropped focus ring in product image zoom component
  feature-libs/product/image-zoom/components/product-image-zoom/product-image-zoom-view/product-image-zoom-view.component.ts
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners
