Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

update e2e tests
  projects/assets/src/translations/en/product.json
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/cart/cart.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-store-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/infinite-scroll.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8720: Stabilize further test
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: Prevent header links from wrapping and taking two lines
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/main/storefront.component.ts
  projects/storefrontstyles/scss/components/layout/header/_header.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

place Delete button before Cancel button in Card Component
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Stabilize more tests
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.spec.ts
  feature-libs/product-configurator/rulebased/components/form/configurator-form.component.spec.ts
Owners: @SAP/spartacus-global-owners

prettier
  feature-libs/product-configurator/rulebased/components/form/configurator-form.component.spec.ts
Owners: @SAP/spartacus-global-owners

Stabilize further tests
  feature-libs/product-configurator/rulebased/components/overview-sidebar/configurator-overview-sidebar.component.spec.ts
Owners: @SAP/spartacus-global-owners

feat(a11y): Redesign searchbox to include label
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.spec.ts
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Stabilize further tests
  feature-libs/product-configurator/common/components/configure-cart-entry/configure-cart-entry.component.spec.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/checkbox/configurator-attribute-checkbox.component.spec.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/read-only/configurator-attribute-read-only.component.spec.ts
  feature-libs/product-configurator/rulebased/components/product-title/configurator-product-title.component.spec.ts
Owners: @SAP/spartacus-global-owners

update schematics
  integration-libs/omf/schematics/add-omf/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-global-owners

remove Loading... narration
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
Owners: @SAP/spartacus-global-owners

mark customer360 as flaky
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

Stabilize more tests
  feature-libs/product-configurator/rulebased/components/attribute/types/base/configurator-attribute-single-selection-base.component.spec.ts
  feature-libs/product-configurator/rulebased/components/group/configurator-group.component.spec.ts
  feature-libs/product-configurator/rulebased/components/overview-notification-banner/configurator-overview-notification-banner.component.spec.ts
  feature-libs/product-configurator/rulebased/core/state/effects/configurator-basic-effect.service.spec.ts
  feature-libs/product-configurator/rulebased/cpq/common/converters/cpq-configurator-overview-normalizer.spec.ts
Owners: @SAP/spartacus-global-owners

add back import statment for theme
  projects/storefrontstyles/scss/components/myaccount/_consent-management.scss
  projects/storefrontstyles/scss/components/myaccount/_cx-my-account-v2-notification-preference.scss
  projects/storefrontstyles/scss/components/myaccount/anonymous-consent/_anonymous-consent-dialog.scss
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
  projects/storefrontstyles/scss/components/pwa/add-to-home-screen-banner/_add-to-home-screen-banner.scss
  projects/storefrontstyles/scss/cxbase/_mixins.scss
  projects/storefrontstyles/scss/cxbase/blocks/accordion.scss
  projects/storefrontstyles/scss/cxbase/blocks/alert.scss
  projects/storefrontstyles/scss/cxbase/blocks/buttons.scss
  projects/storefrontstyles/scss/cxbase/blocks/card.scss
  projects/storefrontstyles/scss/cxbase/blocks/carousel.scss
  projects/storefrontstyles/scss/cxbase/blocks/dropdown.scss
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
  projects/storefrontstyles/scss/cxbase/blocks/message.scss
  projects/storefrontstyles/scss/cxbase/blocks/modal.scss
  projects/storefrontstyles/scss/cxbase/blocks/tables.scss
  projects/storefrontstyles/scss/cxbase/blocks/tabs.scss
  projects/storefrontstyles/scss/cxbase/blocks/tooltip.scss
  projects/storefrontstyles/scss/cxbase/layout/app.scss
  projects/storefrontstyles/scss/cxbase/layout/page.scss
  projects/storefrontstyles/scss/cxbase/layout/section.scss
  projects/storefrontstyles/scss/root.scss
Owners: @SAP/spartacus-global-owners

Stabilize further tests
  feature-libs/product-configurator/rulebased/components/tab-bar/configurator-tab-bar.component.spec.ts
  feature-libs/product-configurator/rulebased/cpq/common/converters/cpq-configurator-overview-normalizer.spec.ts
Owners: @SAP/spartacus-global-owners

chore: Fix product search e2e tests
  projects/storefrontapp-e2e-cypress/cypress/e2e/accessibility/keyboard-navigation.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-product-type-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product-search/product-search-store-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-search.ts
Owners: @SAP/spartacus-global-owners

Revert "feat(a11y): add a11y selected label improvements to checkout Address/…"
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.spec.ts
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  feature-libs/user/profile/assets/translations/en/address.json
  projects/assets/src/translations/en/payment.json
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

update title of test case
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

Stabilize attribute header component tests
  feature-libs/product-configurator/rulebased/components/attribute/header/configurator-attribute-header.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address PR comments - verbalize entire card content
  feature-libs/user/profile/components/address-book/address-book.component.ts
  projects/storefrontlib/cms-components/myaccount/payment-methods/payment-methods.component.ts
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

update test and html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address PR comments - verbalize entire card content on my account and checkout pages
  feature-libs/checkout/base/components/checkout-delivery-address/checkout-delivery-address.component.ts
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.ts
  projects/storefrontlib/shared/components/card/card.component.html
  projects/storefrontlib/shared/components/card/card.component.ts
Owners: @SAP/spartacus-global-owners

fix codeql warning 20
  projects/core/src/product/services/product-loading.service.ts
Owners: @SAP/spartacus-core-owners

Merge renovate prs 19400 and 19395
  .github/api-extractor-action/package-lock.json
  .github/api-extractor-action/package.json
  .github/cache-builded-libs/package-lock.json
  .github/workflows/ci.yml
  .github/workflows/update-cloud-repo.yml
Owners: @SAP/spartacus-global-owners

fix: failed uni-test
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-method.component.spec.ts
Owners: @SAP/spartacus-global-owners

CR updates
  feature-libs/cart/base/core/facade/cart-guest-user.service.spec.ts
  feature-libs/cart/base/occ/adapters/occ-cart-guest-user.adapter.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.component.html
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.component.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.component.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.service.ts
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.spec.ts
  integration-libs/opf/quick-buy/core/services/opf-quick-buy-transaction.service.ts
Owners: @SAP/spartacus-global-owners

feat: Remove cartId prop from /submit, /submit-complete
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
  integration-libs/opf/payment/core/connectors/opf-payment.connector.spec.ts
  integration-libs/opf/payment/core/facade/opf-payment.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.ts
  integration-libs/opf/payment/root/model/opf-payment.model.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

Support payment provider icons
  integration-libs/opf/base/root/model/opf-base.model.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/checkout/styles/components/_opf-checkout-payments.scss
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

Support payment provider icons
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

Support payment provider icons
  projects/storefrontapp/src/app/spartacus/features/opf/opf-feature.module.ts
Owners: @SAP/spartacus-global-owners

fix: Wrap review order components with section element
  feature-libs/checkout/base/assets/translations/en/checkout.json
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix build
  feature-libs/checkout/base/components/checkout-review/checkout-review-overview/checkout-review-overview.component.ts
Owners: @SAP/spartacus-global-owners

CR Updates
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
Owners: @SAP/spartacus-global-owners

keep class in parent div
  projects/storefrontlib/shared/components/card/card.component.html
Owners: @SAP/spartacus-global-owners

Title attributes for icons without text present
  feature-libs/asm/components/asm-bind-cart/asm-bind-cart.component.html
  feature-libs/asm/components/asm-main-ui/asm-main-ui.component.html
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/asm/customer-360/components/sections/asm-customer-360-customer-coupon/asm-customer-360-customer-coupon.component.html
  feature-libs/asm/customer-360/components/sections/asm-customer-360-map/asm-customer-360-map.component.html
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.html
  feature-libs/organization/administration/components/shared/card/card.component.html
  feature-libs/organization/administration/components/shared/list/list.component.html
  feature-libs/organization/administration/components/unit/list/toggle-link/toggle-link-cell.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/filter/unit-level-order-history-filter.component.html
  feature-libs/pickup-in-store/components/container/pickup-items-details/pickup-items-details.component.html
  feature-libs/product-configurator/rulebased/components/attribute/header/configurator-attribute-header.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.html
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-filter/visual-picking-product-filter.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/compact-add-to-cart/compact-add-to-cart.component.html
  integration-libs/epd-visualization/components/visual-picking/visual-picking-tab/product-list/compact-add-to-cart/compact-add-to-cart.module.ts
Owners: @SAP/spartacus-global-owners

test: CXSPA-8759 - fix test isolation issue
  feature-libs/product-configurator/rulebased/components/add-to-cart-button/configurator-add-to-cart-button.component.spec.ts
  feature-libs/product-configurator/rulebased/components/group-menu/configurator-group-menu.component.spec.ts
Owners: @SAP/spartacus-global-owners

Updated post registration success message
  feature-libs/user/profile/assets/translations/en/userProfile.json
  feature-libs/user/profile/components/register/register-component.service.spec.ts
  feature-libs/user/profile/components/register/register-component.service.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/register.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8769) HCT themes adjustment to colors and incomplete areas
  feature-libs/organization/administration/styles/_company-page-template.scss
  feature-libs/product/image-zoom/styles/_product-image-zoom-view.scss
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8769) HCT themes adjustment to colors and incomplete areas
  projects/storefrontstyles/scss/components/product/carousel/_carousel.scss
Owners: @SAP/spartacus-global-owners

add explict T and C logic
  integration-libs/opf/checkout/assets/translations/en/opfCheckout.json
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.html
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.ts
  integration-libs/opf/checkout/root/model/opf-checkout.model.ts
Owners: @SAP/spartacus-global-owners
