Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

Limit popover width on sub 375px devices
  projects/storefrontstyles/scss/components/misc/popover/_popover.scss
Owners: @SAP/spartacus-global-owners

fix: add default card params in object
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

add missing labels for comboboxes in Order Summary
  feature-libs/checkout/scheduled-replenishment/assets/translations/en/checkoutScheduledReplenishment.json
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

replace div with ng-container
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
Owners: @SAP/spartacus-global-owners

remove unncessary works using feature flag
  feature-libs/checkout/scheduled-replenishment/components/checkout-schedule-replenishment-order/checkout-schedule-replenishment-order.component.html
Owners: @SAP/spartacus-global-owners

CXSPA-9098, fix Coupon Codes is used in Coupon Campaign URL for SPA UI
  projects/assets/src/translations/en/myAccount.json
  projects/core/src/occ/adapters/user/default-occ-user-config.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/occ/occ-models/occ-endpoints.model.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/default-coupon-card-layout.config.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/index.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
  projects/storefrontlib/layout/launch-dialog/config/launch-config.ts
  projects/storefrontstyles/scss/components/myaccount/_index.scss
  projects/storefrontstyles/scss/components/myaccount/_my-claim-dialog.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: Support increased letter-spacing for header (#19682)
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontstyles/scss/components/layout/header/_header.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

update to right import
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
Owners: @SAP/spartacus-global-owners

fix: fix PR review - use class rather than title translation as selector
  feature-libs/cart/base/components/cart-coupon/cart-coupon.component.html
  feature-libs/cart/import-export/components/import-to-cart/import-entries-dialog/import-to-new-saved-cart-form/import-to-new-saved-cart-form.component.html
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
  feature-libs/cart/saved-cart/components/saved-cart-form-dialog/saved-cart-form-dialog.component.html
  feature-libs/checkout/base/components/checkout-billing-address/checkout-billing-address-form.component.html
  feature-libs/checkout/base/components/checkout-login/checkout-login.component.html
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-form/checkout-payment-form.component.html
  feature-libs/checkout/base/components/checkout-place-order/checkout-place-order.component.html
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close-dialog/customer-ticketing-close-dialog.component.html
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create-dialog/customer-ticketing-create-dialog.component.html
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.html
  feature-libs/organization/administration/components/budget/form/budget-form.component.html
  feature-libs/organization/administration/components/cost-center/form/cost-center-form.component.html
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/links/addresses/form/unit-address-form.component.html
  feature-libs/organization/administration/components/user-group/form/user-group-form.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/administration/components/user/form/user-form.component.html
  feature-libs/organization/user-registration/components/form/user-registration-form.component.html
  feature-libs/user/account/components/login-form/login-form.component.html
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/profile/components/address-book/address-form/address-form.component.html
  feature-libs/user/profile/components/forgot-password/forgot-password.component.html
  feature-libs/user/profile/components/register/register.component.html
  feature-libs/user/profile/components/reset-password/reset-password.component.html
  feature-libs/user/profile/components/update-email/update-email.component.html
  feature-libs/user/profile/components/update-password/update-password.component.html
  feature-libs/user/profile/components/update-profile/update-profile.component.html
  integration-libs/s4-service/checkout/components/checkout-service-details/checkout-service-details.component.html
  integration-libs/s4-service/order/components/reschedule-service-order/reschedule-service-order.component.html
  projects/storefrontlib/cms-components/product/product-tabs/product-reviews/product-reviews.component.html
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners

CXSPA-9098, remove circular dependency
  projects/core/src/user/connectors/customer-coupon/customer-coupon.adapter.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9098, add exports for ClaimDialogComponent
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.module.ts
Owners: @SAP/spartacus-global-owners

fix: Add required asterisks for permission form (#19681)
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
Owners: @SAP/spartacus-global-owners

Remove v2 prefix from the endpoint
  integration-libs/opf/base/opf-api/config/default-opf-api-base-config.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9038) add label to store finder search input
  feature-libs/storefinder/assets/translations/en/storeFinder.json
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

CXSPA-9086 Review feedback I
  feature-libs/product-configurator/rulebased/styles/_configurator-group-menu.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9035) StoreFinder Truncation on applying text spacing settings.
  feature-libs/storefinder/styles/components/_store-finder-list-item.scss
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9035) StoreFinder Truncation on applying text spacing settings.
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.ts
  feature-libs/storefinder/styles/components/_store-finder-list-item.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

resolve the issues
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

Quick order searchbox refocus
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.spec.ts
  feature-libs/cart/quick-order/components/quick-order/form/quick-order-form.component.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

remove typing causing sonar error
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

add 3 PRs: CXSPA-9036,CXSPA-8965,CXSPA-9097
  integration-libs/opf/base/root/services/opf-resource-loader.service.spec.ts
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.component.html
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-wrapper/opf-checkout-payment-wrapper.service.ts
  integration-libs/opf/payment/root/model/opf-payment.model.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

CXCDS-13427: Fixed failing e2e test
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/cds/merchandising-carousel.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9086) ACC 271.1 (Level A): Product Configuration _ Tab _ No 4-sided visible focus (#19677)
  feature-libs/product-configurator/rulebased/styles/_configurator-group-menu.scss
Owners: @SAP/spartacus-global-owners

fix: fix PR review - use a11yStoreFinderLabel feature flag to control this feature
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: fixing prettier issue
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

tertiary buttons visible focus overlap
  projects/storefrontstyles/scss/cxbase/mixins/_visible-focus.scss
Owners: @SAP/spartacus-global-owners

Limit popover width on sub 375px devices
  projects/storefrontstyles/scss/components/misc/popover/_popover.scss
Owners: @SAP/spartacus-global-owners

CXSPA-9098, add UTs for fix
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9035) StoreFinder Truncation on applying text spacing settings (#19691)
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.ts
  feature-libs/storefinder/styles/components/_store-finder-list-item.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9026) make cx-banner focus visible for all 4 sides
  projects/storefrontstyles/scss/components/content/banner/_banner.scss
Owners: @SAP/spartacus-global-owners

fix: remove unused class attribute
  feature-libs/storefinder/components/store-finder-search/store-finder-search.component.html
Owners: @SAP/spartacus-global-owners

fix one of the sides of the focus is placed out of the dialog in CustomerTicketingDialogs
  feature-libs/customer-ticketing/components/shared/customer-ticketing-dialog/customer-ticketing-dialog.component.ts
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-dialog.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: make form required fields * label red (#19679)
  feature-libs/cart/base/components/cart-coupon/cart-coupon.component.html
  feature-libs/cart/import-export/components/import-to-cart/import-entries-dialog/import-to-new-saved-cart-form/import-to-new-saved-cart-form.component.html
  feature-libs/cart/quick-order/components/cart-quick-order-form/cart-quick-order-form.component.html
  feature-libs/cart/saved-cart/components/saved-cart-form-dialog/saved-cart-form-dialog.component.html
  feature-libs/checkout/base/components/checkout-billing-address/checkout-billing-address-form.component.html
  feature-libs/checkout/base/components/checkout-login/checkout-login.component.html
  feature-libs/checkout/base/components/checkout-payment-method/checkout-payment-form/checkout-payment-form.component.html
  feature-libs/checkout/base/components/checkout-place-order/checkout-place-order.component.html
  feature-libs/customer-ticketing/components/details/customer-ticketing-close/customer-ticketing-close-dialog/customer-ticketing-close-dialog.component.html
  feature-libs/customer-ticketing/components/list/customer-ticketing-create/customer-ticketing-create-dialog/customer-ticketing-create-dialog.component.html
  feature-libs/order/components/order-confirmation/order-guest-register-form/order-guest-register-form.component.html
  feature-libs/organization/administration/components/budget/form/budget-form.component.html
  feature-libs/organization/administration/components/cost-center/form/cost-center-form.component.html
  feature-libs/organization/administration/components/permission/form/permission-form.component.html
  feature-libs/organization/administration/components/unit/form/unit-form.component.html
  feature-libs/organization/administration/components/unit/links/addresses/form/unit-address-form.component.html
  feature-libs/organization/administration/components/user-group/form/user-group-form.component.html
  feature-libs/organization/administration/components/user/change-password-form/user-change-password-form.component.html
  feature-libs/organization/administration/components/user/form/user-form.component.html
  feature-libs/organization/user-registration/components/form/user-registration-form.component.html
  feature-libs/user/account/components/login-form/login-form.component.html
  feature-libs/user/account/components/otp-login-form/otp-login-form.component.html
  feature-libs/user/account/components/verification-token-form/verification-token-form.component.html
  feature-libs/user/profile/components/address-book/address-form/address-form.component.html
  feature-libs/user/profile/components/forgot-password/forgot-password.component.html
  feature-libs/user/profile/components/register/register.component.html
  feature-libs/user/profile/components/reset-password/reset-password.component.html
  feature-libs/user/profile/components/update-email/update-email.component.html
  feature-libs/user/profile/components/update-password/update-password.component.html
  feature-libs/user/profile/components/update-profile/update-profile.component.html
  integration-libs/s4-service/checkout/components/checkout-service-details/checkout-service-details.component.html
  integration-libs/s4-service/order/components/reschedule-service-order/reschedule-service-order.component.html
  projects/storefrontlib/cms-components/product/product-tabs/product-reviews/product-reviews.component.html
  projects/storefrontstyles/scss/cxbase/blocks/forms.scss
Owners: @SAP/spartacus-global-owners

update work using a11yExpandedFocusIndicator
  feature-libs/customer-ticketing/components/shared/customer-ticketing-dialog/customer-ticketing-dialog.component.ts
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-dialog.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CXSPA-9073: Fix tooltip for image attributes
  feature-libs/product-configurator/common/assets/translations/en/configurator.json
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/multi-selection-image/configurator-attribute-multi-selection-image.component.spec.ts
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-image/configurator-attribute-single-selection-image.component.spec.ts
Owners: @SAP/spartacus-global-owners

tertiary buttons visible focus overlap
  projects/storefrontstyles/scss/cxbase/mixins/_visible-focus.scss
Owners: @SAP/spartacus-global-owners

feat: skip focus to main after navigation
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/main/storefront.component.spec.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix: Elevate scroll to top button when overlaps with banner
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.spec.ts
  projects/storefrontlib/cms-components/navigation/scroll-to-top/scroll-to-top.component.ts
  projects/storefrontstyles/scss/components/content/navigation/_scroll-to-top.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXCDS-13427: Fixed failing e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cds/merchandising-carousel/merchandising-carousel-categorypage.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cds/profile-tag/custom-headers.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/vendor/cds/profile-tag/default-events.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/cds/merchandising-carousel.ts
Owners: @SAP/spartacus-global-owners

update using keyboard-focus module
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
  projects/storefrontlib/cms-components/navigation/search-box/search-box.module.ts
  projects/storefrontstyles/scss/components/product/search/_searchbox.scss
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
