Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

running spa 2412 e2e against cx 2211.32
  .env-cmdrc
  ci-scripts/e2e-cypress.sh
  projects/storefrontapp-e2e-cypress/cypress.config.ci.ts
  projects/storefrontapp-e2e-cypress/cypress.config.ts
Owners: @SAP/spartacus-global-owners

bugfix error null on recentSearches
  projects/storefrontlib/cms-components/navigation/search-box/search-box.component.html
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-8993) MiniCard component. Improve visible focus contrast on mobile.
  feature-libs/cart/base/components/mini-cart/mini-cart.component.ts
  feature-libs/cart/base/styles/components/_mini-cart.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

chore: Update formErrorsDescriptiveMessages and shouldHideAddToCartForUnpurchasableProducts toggles value
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: allow for resetting to undefined parts of the config of the NgRx Transfer State
  projects/core/src/state/config/state-config.ts
Owners: @SAP/spartacus-core-owners

Update feature-toggles.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

CXSPA-8566 bug fix - returning undefined if displayName is not defined
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
  feature-libs/pickup-in-store/components/presentational/pickup-options/pickup-options.component.ts
Owners: @SAP/spartacus-global-owners

Ran prettier fix
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.spec.ts
  feature-libs/pickup-in-store/components/container/pdp-pickup-options-container/pdp-pickup-options-container.component.ts
Owners: @SAP/spartacus-global-owners

fix: update type in missing places
  projects/core/src/state/reducers/transfer-state.reducer.ts
  projects/core/src/state/utils/get-state-slice.ts
Owners: @SAP/spartacus-core-owners

chore: Enable December 2024 A11Y Feature Toggles
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix after merge develop
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

fix: (CXSPA-9034) UnitLevelOrderHistory Truncation on applying text spacing settings
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.ts
  feature-libs/organization/unit-order/styles/components/unit-level-order-history/_unit-level-order-history.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-8991) add e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

resolve aria issues
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

chore(installations script): use BRANCH=develop , when installing from sources
  scripts/install/config.default.sh
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9043) account summaries inputs border visibility fix
  feature-libs/organization/account-summary/styles/components/_cx-account-summary-document-filter.scss
Owners: @SAP/spartacus-global-owners

descriptive repeating buttons
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.html
  feature-libs/pickup-in-store/components/container/set-preferred-store/set-preferred-store.component.html
  feature-libs/pickup-in-store/components/presentational/store/store.component.html
  projects/storefrontlib/cms-components/product/product-list/product-list-item/product-list-item.component.html
Owners: @SAP/spartacus-global-owners

feat: skip focus to main after navigation
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/asm.emulation.core-e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/asm.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/layout/a11y/skip-link/service/skip-link.service.ts
  projects/storefrontlib/layout/main/storefront.component.spec.ts
  projects/storefrontlib/layout/main/storefront.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

failing anonymous-consents-flow e2e test
  projects/storefrontapp-e2e-cypress/cypress/helpers/anonymous-consents.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, fix breaking changes by add feature toggle and inject
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/occ/adapters/user/occ-customer-coupon.adapter.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/coupons/my-coupons.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.spec.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
  projects/storefrontlib/cms-components/myaccount/my-coupons/my-coupons.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

CXSPA-9098, fix conflicts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
Owners: @SAP/spartacus-core-owners

CXSPA-9098, fix module-import circular dependency
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.spec.ts
  projects/core/src/user/connectors/customer-coupon/customer-coupon.connector.ts
Owners: @SAP/spartacus-core-owners

fix: address PR comments - improve e2e test
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

update borders in high-contrast theme
  feature-libs/cart/saved-cart/components/list/saved-cart-list.component.ts
  feature-libs/cart/saved-cart/styles/_saved-cart-list.scss
  feature-libs/checkout/base/components/checkout-review/checkout-review-payment/checkout-review-payment.component.ts
  feature-libs/checkout/base/styles/components/steps/review/_review.scss
  feature-libs/customer-ticketing/components/list/customer-ticketing-list/customer-ticketing-list.component.ts
  feature-libs/customer-ticketing/styles/components/_customer-ticketing-list.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

fix: (CXSPA-9043) account summaries inputs border visibility fix
  feature-libs/organization/account-summary/styles/components/_cx-account-summary-document-filter.scss
Owners: @SAP/spartacus-global-owners

CXSPA-9098, remove unnecessary feature toggle
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.html
Owners: @SAP/spartacus-global-owners

Trigger Build
  projects/storefrontlib/cms-components/myaccount/my-coupons/claim-dialog/claim-dialog.component.ts
Owners: @SAP/spartacus-global-owners

fix: reset focus to the main after navigating (#19694)
  projects/storefrontlib/shared/components/carousel/carousel.component.html
Owners: @SAP/spartacus-global-owners

resolve error for ariadescribedby
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.ts
Owners: @SAP/spartacus-global-owners

fix: (CXSPA-9049) multiple UI elements theme visibility issues fix
  feature-libs/pickup-in-store/styles/_set-preferred-store.scss
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontstyles/scss/components/content/tab/_tab.scss
  projects/storefrontstyles/scss/components/product/_star-rating.scss
Owners: @SAP/spartacus-global-owners

fix: address prettier issues
  projects/storefrontstyles/scss/components/product/_star-rating.scss
Owners: @SAP/spartacus-global-owners

resolve error for aria controls and label
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.html
  projects/storefrontlib/cms-components/navigation/navigation/navigation-ui.component.ts
Owners: @SAP/spartacus-global-owners

Revert "chore: Add version to desc of minor release workflow (#19321)"
  .github/workflows/minor-release.yml
Owners: @SAP/spartacus-global-owners

fix: address PR comments
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-9098, fix failed cypress test cases
  projects/storefrontapp-e2e-cypress/cypress/e2e/b2b/regression/asm/customer360-promotion.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/asm/customer360.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

update background and color of input in AccountSummaryDocumentFilterComponent
  feature-libs/organization/account-summary/styles/components/_cx-account-summary-document-filter.scss
Owners: @SAP/spartacus-global-owners

chore: Update @fontsource/open-sans
  package-lock.json
  package.json
  projects/schematics/src/dependencies.json
  projects/schematics/src/ng-add/__snapshots__/index_spec.ts.snap
  projects/storefrontstyles/package.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: address PR comments
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/user_access/navigation-login-a11y.e2e.cy.ts
Owners: @SAP/spartacus-global-owners

chore: Update jsonc-parser
  package-lock.json
  package.json
  projects/schematics/package.json
  projects/schematics/src/dependencies.json
  projects/schematics/src/ng-add/__snapshots__/index_spec.ts.snap
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix: (CXSPA-9046) FacetList Checkbox CC issue for Selected state in HCB theme.
  projects/storefrontstyles/scss/components/product/list/_facet-list.scss
  projects/storefrontstyles/scss/components/product/list/_facet.scss
Owners: @SAP/spartacus-global-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners
