Repository SAP/cloud-commerce-spartacus-storefront-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners, @SAP/spartacus-cart-owners, @SAP/spartacus-routing-owners, @SAP/spartacus-schematics-owners

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                               Spartacus CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the spartacus repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#
# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#  - most file groups have a global approvers group as fallback:
#    - @SAP/spartacus-global-owners: for approving minor changes, large-scale refactorings, and emergency situations.
#  - a small number of file groups can have very limited number of reviewers because incorrect changes to the files they guard would have serious consequences (e.g. security, public api)
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#
######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################
#
#
# ================================================
#  Spartacus Global Owners
#
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ================================================
* @SAP/spartacus-global-owners

# ================================================
#  Spartacus Core
# ================================================
/projects/core/src/**                                                  @SAP/spartacus-core-owners

# ================================================
#  Cart Functionality
# ================================================
/projects/core/src/cart/**                                             @SAP/spartacus-cart-owners
/projects/storefrontlib/cms-components/cart/**                         @SAP/spartacus-cart-owners

# ================================================
#  Routing Functionality
# ================================================
/projects/core/src/routing/**                                          @SAP/spartacus-routing-owners

# ================================================
#  Schematics
# ================================================
/projects/schematics/src/**                                            @SAP/spartacus-schematics-owners
/feature-libs/organization/schematics/!migrations/**                   @SAP/spartacus-schematics-owners
/feature-libs/storefinder/schematics/!migrations/**                    @SAP/spartacus-schematics-owners

# ================================================
#  CODEOWNERS owners
# ================================================

/.github/CODEOWNERS                                                     @SAP/spartacus-global-owners

fix
  projects/schematics/src/shared/lib-configs/integration-libs/opf-schematics-config.ts
  projects/schematics/src/shared/libs-constants.ts
Owners: @SAP/spartacus-schematics-owners

update
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

add feature toggle
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
  projects/core/src/product/connectors/search/product-search.connector.ts
  projects/core/src/product/facade/product-search-by-category.service.ts
  projects/core/src/product/facade/product-search.service.ts
  projects/core/src/product/store/actions/product-search-by-category.action.ts
  projects/core/src/product/store/effects/index.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/core/src/product/store/reducers/index.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

fix down arrow not showing when select menu focused
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/misc/site-context-selector/site-context-selector.component.ts
  projects/storefrontlib/cms-components/misc/site-theme-switcher/site-theme-switcher.component.ts
  projects/storefrontstyles/scss/components/layout/header/_site-context-selector.scss
  projects/storefrontstyles/scss/components/misc/site-theme-switcher/_site-theme-switcher.scss
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Add pagination to the payment list
  integration-libs/opf/base/core/connectors/opf-base.adapter.ts
  integration-libs/opf/base/core/connectors/opf-base.connector.ts
  integration-libs/opf/base/core/facade/opf-base.service.spec.ts
  integration-libs/opf/base/core/facade/opf-base.service.ts
  integration-libs/opf/base/core/services/opf-endpoints.service.ts
  integration-libs/opf/base/core/tokens/tokens.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.spec.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.ts
  integration-libs/opf/base/opf-api/config/default-opf-api-base-config.ts
  integration-libs/opf/base/root/facade/opf-base.facade.ts
  integration-libs/opf/base/root/model/opf-base.model.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.module.ts
  integration-libs/opf/checkout/styles/components/_opf-checkout-payments.scss
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.spec.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.service.ts
Owners: @SAP/spartacus-global-owners

Fix sonar
  integration-libs/opf/base/core/facade/opf-base.service.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
Owners: @SAP/spartacus-global-owners

Update spartacus-features.module.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners

Update unit test
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/checkout/styles/components/_opf-checkout-payments.scss
Owners: @SAP/spartacus-global-owners

Show label of every Select column
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.html
  feature-libs/organization/order-approval/components/list/order-approval-list.component.ts
  feature-libs/organization/order-approval/components/list/order-approval-list.module.ts
  feature-libs/organization/order-approval/styles/_order-approval-list.scss
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.component.html
  feature-libs/product-configurator/rulebased/components/attribute/types/single-selection-bundle-dropdown/configurator-attribute-single-selection-bundle-dropdown.module.ts
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

CXSPA-7935: revert unrelated changes
  projects/storefrontlib/shared/components/captcha/captcha.component.ts
  projects/storefrontlib/shared/components/captcha/captcha.service.ts
  projects/storefrontlib/shared/components/captcha/mock-captcha/mock-captcha.service.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Show real time stock in PDP.
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/product_details/show-real-time-stock-in-PDP.e2e-flaky.cy.ts
Owners: @SAP/spartacus-global-owners

CXSPA-7935: revert unrelated changes
  .env-cmdrc
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.spec.ts
Owners: @SAP/spartacus-global-owners

CXSPA-7935: make code more pretty
  feature-libs/user/profile/occ/adapters/occ-user-profile.adapter.spec.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Display real time stock in PDP.
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Display real time stock in PDP.
  projects/core/src/product/facade/product-availability.service.spec.ts
  projects/core/src/product/facade/product-availability.service.ts
Owners: @SAP/spartacus-core-owners

Remove v2
  integration-libs/opf/base/opf-api/config/default-opf-api-base-config.ts
Owners: @SAP/spartacus-global-owners

Update
  integration-libs/opf/base/core/connectors/opf-base.adapter.ts
  integration-libs/opf/base/core/connectors/opf-base.connector.ts
  integration-libs/opf/base/core/facade/opf-base.service.spec.ts
  integration-libs/opf/base/core/facade/opf-base.service.ts
  integration-libs/opf/base/core/tokens/tokens.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.spec.ts
  integration-libs/opf/base/opf-api/adapters/opf-api-base.adapter.ts
  integration-libs/opf/base/opf-api/config/default-opf-api-base-config.ts
  integration-libs/opf/base/root/facade/opf-base.facade.ts
  integration-libs/opf/base/root/model/opf-base.model.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/cta/components/opf-cta-scripts/opf-cta-scripts.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/opf-quick-buy-buttons.service.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address issues with My Account Menu underlaying EDIT buttons (#19569)
  feature-libs/organization/administration/styles/_card.scss
Owners: @SAP/spartacus-global-owners

CXSPA-8577: Display real time stock in PDP.
  projects/core/src/product/facade/product-availability.service.ts
Owners: @SAP/spartacus-core-owners

Update
  integration-libs/opf/base/root/model/opf-metadata-store.model.ts
  integration-libs/opf/base/root/services/opf-metadata-state-persistence.service.spec.ts
  integration-libs/opf/base/root/services/opf-metadata-store.service.spec.ts
  integration-libs/opf/base/root/services/opf-metadata-store.service.ts
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.spec.ts
  integration-libs/opf/checkout/components/opf-checkout-payments/opf-checkout-payments.component.ts
  integration-libs/opf/checkout/components/opf-checkout-terms-and-conditions-alert/opf-checkout-terms-and-conditions-alert.component.ts
  integration-libs/opf/payment/root/components/opf-payment-verification/opf-payment-verification.service.spec.ts
Owners: @SAP/spartacus-global-owners

Update
  integration-libs/opf/checkout/components/opf-checkout-payment-and-review/opf-checkout-payment-and-review.component.html
Owners: @SAP/spartacus-global-owners

CR changes
  feature-libs/organization/order-approval/components/details/order-detail-permission-results/order-detail-permission-results.component.ts
  feature-libs/organization/order-approval/styles/_order-detail-permission-results.scss
Owners: @SAP/spartacus-global-owners

fix: Prevent blank order history page when using new tab component
  feature-libs/cart/base/components/add-to-cart/add-to-cart.component.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/cms-components/content/tab-paragraph-container/tab-paragraph-container.component.ts
Owners: @SAP/spartacus-global-owners

fix: Add params to the tab headers. Add e 2e
  feature-libs/order/components/order-history/order-history.component.html
  feature-libs/order/components/order-history/order-history.component.ts
  feature-libs/order/styles/components/order-history/_order-history.scss
  projects/storefrontapp-e2e-cypress/cypress/e2e/regression/my-account/order-history-orders-flow.e2e.cy.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/order-history.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/product-details.ts
  projects/storefrontapp-e2e-cypress/cypress/helpers/vendor/epd-visualization/visual-picking-tab.ts
  projects/storefrontlib/cms-components/content/tab-paragraph-container/tab-paragraph-container.component.html
  projects/storefrontlib/cms-components/content/tab-paragraph-container/tab-paragraph-container.component.ts
  projects/storefrontlib/cms-components/content/tab/tab.component.html
  projects/storefrontlib/cms-components/content/tab/tab.model.ts
Owners: @SAP/spartacus-global-owners

add unit tests
  projects/core/src/product/connectors/search/product-search.connector.spec.ts
  projects/core/src/product/facade/product-search-by-category.service.spec.ts
  projects/core/src/product/store/actions/product-search-by-category.action.spec.ts
  projects/core/src/product/store/actions/product-search-by-category.action.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.spec.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
  projects/core/src/product/store/selectors/product-search-by-category.selectors.spec.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.spec.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-core-owners, @SAP/spartacus-global-owners

Update occ-product-search.adapter.ts
  projects/core/src/occ/adapters/product/occ-product-search.adapter.ts
Owners: @SAP/spartacus-core-owners

Update product-search-by-category.effect.ts
  projects/core/src/product/store/effects/product-search-by-category.effect.ts
Owners: @SAP/spartacus-core-owners

Update product-search-by-category.service.ts
  projects/core/src/product/facade/product-search-by-category.service.ts
Owners: @SAP/spartacus-core-owners

Update product-search-by-category.service.ts
  projects/core/src/product/facade/product-search-by-category.service.ts
Owners: @SAP/spartacus-core-owners

fix: remove obsolete types in querySelector forEach (not needed because now `this.document` is now well typed as `Document`)
  integration-libs/opf/base/root/services/opf-resource-loader.service.ts
Owners: @SAP/spartacus-global-owners

Manual update of express version to 4.21.1
  core-libs/setup/package.json
  projects/schematics/src/dependencies.json
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-schematics-owners

fix title not reading for dialogs with role='dialog'
  feature-libs/asm/components/asm-create-customer-form/asm-create-customer-form.component.html
  feature-libs/asm/components/customer-list/customer-list.component.html
  feature-libs/asm/customer-360/components/asm-customer-360/asm-customer-360.component.html
Owners: @SAP/spartacus-global-owners

refactor(opf): rename `callbacksArray` to `callbacks`
  integration-libs/opf/global-functions/core/facade/opf-global-functions.service.ts
  integration-libs/opf/payment/core/facade/opf-payment.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.spec.ts
  integration-libs/opf/payment/core/services/opf-payment-hosted-fields.service.ts
  integration-libs/opf/payment/root/model/opf-payment.model.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/apple-pay/apple-pay.service.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.spec.ts
  integration-libs/opf/quick-buy/components/opf-quick-buy-buttons/google-pay/google-pay.service.ts
Owners: @SAP/spartacus-global-owners

Cropped focus ring
  feature-libs/cart/base/components/cart-shared/cart-item-list/cart-item-list.component.ts
  feature-libs/cart/base/components/cart-shared/cart-item/cart-item.component.ts
  feature-libs/cart/base/styles/components/_cart-item-list.scss
  feature-libs/cart/base/styles/components/_cart-item.scss
  feature-libs/organization/administration/components/shared/list/list.component.ts
  feature-libs/organization/administration/styles/_list.scss
  feature-libs/product/future-stock/components/future-stock-accordion/future-stock-accordion.component.ts
  feature-libs/product/future-stock/styles/_future-stock-accordion.scss
  feature-libs/quote/components/confirm-dialog/quote-confirm-dialog.component.ts
  feature-libs/quote/styles/_quote-confirm-dialog.scss
  feature-libs/quote/styles/mixins/_quote-toggle.scss
  projects/core/src/features-config/feature-toggles/config/feature-toggles.ts
  projects/storefrontapp/src/app/spartacus/spartacus-features.module.ts
  projects/storefrontlib/shared/components/chat-messaging/messaging/messaging.component.ts
  projects/storefrontstyles/scss/components/misc/chat-messaging/_messaging.scss
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

changes
  integration-libs/opf/order/ng-package.json
Owners: @SAP/spartacus-global-owners

update
  feature-libs/smartedit/root/config/default-smart-edit-config.ts
  projects/core/src/occ/adapters/product/default-occ-product-config.ts
  projects/core/src/product/model/product-scope.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.ts
Owners: @SAP/spartacus-global-owners, @SAP/spartacus-core-owners

Update projects/core/src/model/product.model.ts
  projects/core/src/model/product.model.ts
Owners: @SAP/spartacus-core-owners

Update projects/core/src/model/product.model.ts
  projects/core/src/model/product.model.ts
Owners: @SAP/spartacus-core-owners

Update product-carousel.component.spec.ts
  projects/storefrontlib/cms-components/product/carousel/product-carousel/product-carousel.component.spec.ts
Owners: @SAP/spartacus-global-owners

fix: address issues with both spacebar and enter by adding new directive
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.component.html
  feature-libs/cart/base/components/added-to-cart-dialog/added-to-cart-dialog.module.ts
  feature-libs/cart/wish-list/components/add-to-wishlist/add-to-wish-list.component.html
  feature-libs/cart/wish-list/components/add-to-wishlist/add-to-wish-list.module.ts
  feature-libs/order/components/order-history/order-history.component.html
  feature-libs/order/components/order-history/order-history.module.ts
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.component.html
  feature-libs/order/components/replenishment-order-history/replenishment-order-history.module.ts
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.component.html
  feature-libs/organization/unit-order/components/unit-level-order-history/unit-level-order-history.module.ts
  feature-libs/product-configurator/common/components/configure-product/configure-product.component.html
  feature-libs/product-configurator/common/components/configure-product/configure-product.module.ts
  feature-libs/storefinder/components/store-finder-components.module.ts
  feature-libs/storefinder/components/store-finder-list-item/store-finder-list-item.component.html
  integration-libs/cdc/user-account/login-form/reconsent/cdc-reconsent.component.html
  integration-libs/cdc/user-account/login-form/reconsent/cdc-reconsent.module.ts
  integration-libs/s4-service/order/components/s4-service-order-detail-actions/s4-service-order-detail-actions.component.html
  integration-libs/s4-service/order/components/s4-service-order-detail-actions/s4-service-order-detail-actions.module.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.spec.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.directive.ts
  projects/storefrontlib/layout/a11y/btn-like-link/btn-like-link.module.ts
  projects/storefrontlib/layout/a11y/btn-like-link/index.ts
Owners: @SAP/spartacus-global-owners
